﻿@model DotNetShop.Models.CartViewModel
@{
    ViewData["Title"] = "Default";
}

<div id="quickBasketContainer">
    <div class="quickBasketSmallContainer">
        <div class="quickBasketSmallBox">
            <h3 class="quickBasketMainTextH3">Twój koszyk</h3>
            <a class="quickBasketClose">Zamknij X</a>
        </div>
        <div class="quickBasketSmallBox quickBasketScrollbar">
            <div class="quickBasketProductListColumn">
                @foreach (var cartItem in Model.CartItems)
                {
                    <div class="quickBasketProductList" id="basket-rows-@cartItem.Product.Id">
                        <a class="basketDeleteItem" data-removeBasketItemId="@cartItem.Product.Id" href="#"><span class="material-icons">delete</span></a>
                        @foreach (var cartItemPhoto in Model.ProductPhoto.Where(photo => photo.ProductId == cartItem.Product.Id).Take(1))
                        {
                            <img src="@cartItemPhoto.PhotoUrl" onclick="window.location='@Url.Action("Details", "Store", new { id = cartItem.Product.Id })'" />
                        }
                        <div class="quickBasketProductParameters">
                            <p class="quickBasketProductName">@cartItem.Product.Name</p>
                            <div class="quickBasketProductQuantityBox">
                                <p class="quickBasketProductQuantity">Stan: </p>
                                @if (cartItem.Product.Warehouse.Quantity < 7)
                                {
                                    <p class="quickBasketProductQuantityInStore productLastPiecesText">Ostatnie sztuki</p>

                                }
                                else if (cartItem.Product.Warehouse.Quantity >= 7)
                                {
                                    <p class="quickBasketProductQuantityInStore productAvailabilityText">Dostępny</p>
                                }
                            </div>
                            <p class="quickBasketHowMuchBought" id="basket-items-count-@cartItem.Product.Id">@cartItem.Quantity x @(cartItem.Quantity * cartItem.Product.Price) zł</p>
                        </div>
                    </div>
                }
                <div id="basketEmpty quickBasketShortText" @if (Model.CartItems != null && Model.CartItems.Count > 0) { <text> class="basketEmptyHidden" </text> }>
                    <p class="basketEmptyMessage">Koszyk jest pusty. Może warto coś do niego dodać?</p>
                </div>
            </div>
        </div>
        <div class="quickBasketSmallBox">
            @if (Model.TotalPrice > 0)
            {
                <div class="quickBasketSumBox">
                    <p class="quickBasketSumText">SUMA:</p>
                    <p class="quickBasketSumPrice">@Model.TotalPrice zł</p>
                </div>
                <a href="@Url.Action("Checkout", "Cart")" class="quickBasketGoToCash">Przejdź do kasy</a>
            }
            <a href="@Url.Action("Cart","Cart")" class="quickBasketGoToBasket">Przejdź do koszyka</a>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".basketDeleteItem").click(function () {

            var recordToDelete = $(this).attr("data-removeBasketItemId");

            if (recordToDelete != '') {

                $.post("/Cart/RemoveFromCart", { "productId": recordToDelete },
                    function (response) {
                        if (response.removedItemCount == 0) {

                            $('#basket-row-' + response.removeItemId).fadeOut('slow', function () {
                                if (response.cartItemsCount == 0) {
                                    $("#basketEmpty").removeClass("basketEmptyHidden");
                                }
                            });
                            $('#basket-rows-' + response.removeItemId).fadeOut('slow', function () {
                                if (response.cartItemsCount == 0) {
                                    $("#basketEmpty").removeClass("basketEmptyHidden");
                                }
                            });
                        } else {
                            $("#basket-item-count-" + response.removeItemId).text(response.removedItemCount);
                            $("#basketProductPrice-" + response.removeItemId).text(parseFloat(response.cartItemPrice).toFixed(2) + " zł");
                            $("#basket-items-count-" + response.removeItemId).text(response.removedItemCount + " x " + parseFloat(response.cartItemPrice).toFixed(2) + " zł");
                        }

                        if (response.cartItemsCount == 0) {
                            $(".basketCheckoutBox").addClass("basketEmptyHidden");
                            $(".basketSmallContainer").removeAttr("id");
                            $(".basketHideBox").addClass("basketEmptyHidden");
                        }

                        $(".basketCheckoutTotalPrice").text(parseFloat(response.cartTotal).toFixed(2) + " zł");
                        $(".quickBasketSumPrice").text(parseFloat(response.cartTotal).toFixed(2) + " zł");


                    });

                return false;
            }
        });
    });
</script>
