﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="userPanelOptionsBox">
    <div class="userPanelSmallContainer">
        <div class="panelBox">
            <p class="userPanelUserOptionsText"><span class="material-icons">admin_panel_settings</span> Panel administratora</p>
            <span class="material-icons ddArrowIcon">arrow_drop_down</span>
        </div>
        <div class="panelTabs">
            <a href="@Url.Action("UserOrders","Manage")" class="userPanelUserOptions lineBorderTop"><span class="material-icons iconMargin">assignment</span> Zamówienia</a>
            <a href="@Url.Action("AddProductSpecification","Manage")" class="userPanelUserOptions"><span class="material-icons iconMargin">receipt_long</span> Specyfikacje</a>
            <a href="@Url.Action("AddCategory","Manage")" class="userPanelUserOptions"><span class="material-icons iconMargin">category</span> Kategorie</a>
            <a href="@Url.Action("AddManufacturer","Manage")" class="userPanelUserOptions"><span class="material-icons iconMargin">precision_manufacturing</span> Producenci</a>
            <a href="@Url.Action("AddProduct","Manage")" class="userPanelUserOptions"><span class="material-icons iconMargin">local_offer</span> Produkty</a>
        </div>
    </div>
</div>

<script>
    $(".ddArrowIcon").click(function () {
            if ($(".panelTabs").css("display") == 'none') {
                $(".panelTabs").css("display", "flex");
            } else {
                $(".panelTabs").css("display", "none");
            }
        });
</script>