﻿@{

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <bundle name="wwwroot/bundles/site.min.css" />
</head>
<body>
    <header class="header-container">
        <div class="header-box">
            <img class="site-logo" src="@Url.Content("~/img/logo2.png")" onclick="window.location='@Url.Action("Index", "Home")'" style="cursor: pointer;" />
        </div>
        <div class="header-box">
            <div class="search-box">
                <form id="topSearchBarForm" method="post" action="@Url.Action("SearchResult","Store")">
                    <input type="search" id="topSearchBarInput" name="topSearchInputQuery" data-query-source="@Url.Action("ProductsSuggestions", "Store")" placeholder="Wyszukaj.." />
                    <button type="submit" class="topSearchBarBttn">
                        <span class="material-icons iconSearch">search</span>
                    </button>
                </form>
                <ul class="list-group" id="result"></ul>
            </div>

        </div>
        <div class="header-box mainNav">
            <div class="user-panel-box">
                @await Component.InvokeAsync("CartCounter")
            </div>
            <div class="user-panel-box">
                @await Component.InvokeAsync("UserPanel")
            </div>
        </div>
        <div class="header-box mobNav">
            <div class="user-panel-box">
                <span class="material-icons iconMob mobSearch">search</span>
            </div>
            <div class="user-panel-box">
                @await Component.InvokeAsync("MobilePanel")
            </div>
            <div class="user-panel-box">
                <span class="material-icons iconMob catMobMenu">menu</span>
            </div>
        </div>

    </header>
    @await Component.InvokeAsync("QuickBasket")
    <nav class="nav-container">
        @await Component.InvokeAsync("Nav")
    </nav>
    <main class="main-container stickyMenuMainContainerPush">
        @RenderBody()
    </main>
    <footer class="mainFooter">
        <div class="footerContainer">
            <div class="footerSmallContainer">
                <h3 class="footerH3">Informacje kontaktowe</h3>
                <div class="footerTile">
                    <p class="footerMainText">Adres:</p>
                    <p class="footerText">ul. Kombatantów 1A, Wrocław, Polska</p>
                    <p class="footerMainText">Email:</p>
                    <p class="footerText">kontakt@micom.pl</p>
                </div>
            </div>
            <div class="footerSmallContainer">
                <div class="footerTile">
                    <p class="footerMainText">Telefon:</p>
                    <p class="footerText">+48 123 456 789</p>
                    <p class="footerMainText">Godziny otwarcia:</p>
                    <p class="footerText">Pn - Sb / 09:00 - 21:00</p>
                </div>
            </div>
            <div class="footerSmallContainer">
                <h3 class="footerH3">Twoje konto</h3>
                <div class="footerTile">
                    <a href="#">O nas</a>
                    <a href="#">Kontakt</a>
                    <a href="@Url.Action("UserSettings","Manage")">Twoje konto</a>
                </div>
                <div class="footerTile">
                    <a href="@Url.Action("UserOrders","Manage")">Historia zamówień</a>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <p class="copyrightText">©Copyright 2021 by miCOM. Wszelkie prawa zastrzeżone</p>
            <div class="socialMediaContainer">
                <img src="~/img/facebook.svg" alt="facebook" class="imgSocialMedia" />
                <img src="~/img/youtube.svg" alt="youtube" class="imgSocialMedia" />
                <img src="~/img/twitter.svg" alt="twitter" class="imgSocialMedia" />
            </div>
        </div>
    </footer>
    <bundle name="wwwroot/bundles/site.min.js" />
    @RenderSection("ScriptsBottom", required: false)
</body>
</html>