﻿@if (TempData["slideMsg"] != null)
{
    <div class="slideMessage">
        <p class="slideText">@TempData["slideMsg"]</p>
        <div class="slideMessageCloseBttn">
            <span class="material-icons">close</span>
        </div>
    </div>
}