﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="userPanelOptionsBox">
        <div class="userPanelSmallContainer">
            <a href="@Url.Action("UserSettings","Manage")" class="userPanelUserOptions"><span class="material-icons iconMargin">settings</span> Ustawienia konta</a>
            <a href="@Url.Action("UserOrders","Manage")" class="userPanelUserOptions activeUserPanel"><span class="material-icons iconMargin">assignment</span> Zamówienia</a>
        </div>
    </div>