﻿@model DotNetShop.Models.CartViewModel
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="basketContainer">
    <div class="basketSmallContainer">
        <h1 class="basketMainText">Twój koszyk</h1>
    </div>
    <div class="basketSmallContainer quickBasketScrollbar" @if (Model.CartItems != null && Model.CartItems.Count > 0) { <text> id="basketHidden" </text> }>
        @foreach (var cartItem in Model.CartItems)
        {
            <div class="basketProductList" id="basket-row-@cartItem.Product.Id">
                @foreach (var cartItemPhoto in Model.ProductPhoto.Where(photo => photo.ProductId == cartItem.Product.Id).Take(1))
                {
                    <img class="cartItemPhoto" src="@cartItemPhoto.PhotoUrl" onclick="window.location='@Url.Action("Details", "Store", new { id = cartItem.Product.Id })'"/>
                }
                <div class="basketProductListProperties">
                    <h2 class="basketProductName" >@cartItem.Product.Name</h2>
                    <div class="basketModelBox">
                        <p class="basketModelText">Model:</p>
                        <p class="basketModelNumber">@cartItem.Product.Model</p>
                    </div>
                    <div class="basketModelBox">
                        <p class="basketModelText">@cartItem.Product.ProductsSpecValues.FirstOrDefault().Specification.SpecName:</p>
                        <p class="basketModelNumber">@cartItem.Product.ProductsSpecValues.FirstOrDefault().SpecValue</p>
                    </div>
                    <p id="basketProductPrice-@cartItem.Product.Id" class="cartPriceColor">@(cartItem.Quantity * cartItem.Product.Price) zł</p>
                </div>
                <div class="basketProductQuantity">
                    <p class="basketProductQuantityText">Ilość: </p>
                    <p class="basketProductQuantityText" id="basket-item-count-@cartItem.Product.Id">@cartItem.Quantity</p>
                    <a class="basketDeleteItem" data-removeBasketItemId="@cartItem.Product.Id" href="#"><span class="material-icons">delete</span></a>
                </div>
            </div>
        }
        <div id="basketEmpty" @if (Model.CartItems != null && Model.CartItems.Count > 0) { <text> class="basketEmptyHidden" </text> }>
            <p class="basketEmptyMessage">Koszyk jest pusty. Może warto coś do niego dodać?</p>
        </div>
    </div>
    @if (Model.TotalPrice > 0)
    {
        <div class="basketSmallContainer basketHideBox">
            <div class="basketCheckoutBox">
                <h2 class="basketCheckoutPriceText">Suma</h2>
                <h2 class="basketCheckoutTotalPrice">@String.Format("{0:0.00}", Model.TotalPrice) zł</h2>
            </div>
            <div class="basketCheckoutBox">
                @*<div class="basketPromoCodeBox">
                        <p class="basketPromoCodeText">Kod promocyjny</p>
                        <input type="text" class="basketPromoCodeInput"/>
                        <a href="#" class="basketPromoCodeApplyButton">Zastosuj kod promocyjny</a>
                    </div>*@
                <a href="@Url.Action("Index", "Home")" class="basketGoBackShopping"><span class="material-icons iconMargin">arrow_back</span>Kontynuuj zakupy</a>
                <a href="@Url.Action("Checkout","Cart")" class="buttonSubmit basketButtonPositionFix">Przejdź do kasy</a>
            </div>
        </div>
    }
</div>