﻿@model DotNetShop.DAL.Model.Order
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "checkoutForm", @id = "makeOrderForm" }))
{
    <div class="checkoutContainer">
        <div class="indexPageBigHeaderSmallContainer checkoutSmallContainer">
            @Html.AntiForgeryToken()
            <h3 class="h3Checkout">Dane osobowe</h3>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.FirstName, "Imię: ", new { @class = "checkoutInputLabel" })
                @Html.TextBoxFor(o => o.FirstName)
                @Html.ValidationMessageFor(o => o.FirstName)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.LastName, "Nazwisko: ", new { @class = "checkoutInputLabel" })
                @Html.TextBoxFor(o => o.LastName)
                @Html.ValidationMessageFor(o => o.LastName)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.Address, "Adres: ", new { @class = "checkoutInputLabel" })
                @Html.TextBoxFor(o => o.Address)
                @Html.ValidationMessageFor(o => o.Address)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.ZipCode, "Kod pocztowy: ", new { @class = "checkoutInputLabel" })
                @Html.TextBoxFor(o => o.ZipCode)
                @Html.ValidationMessageFor(o => o.ZipCode)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.City, "Miasto: ", new { @class = "checkoutInputLabel" })
                @Html.TextBoxFor(o => o.City)
                @Html.ValidationMessageFor(o => o.City)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.PhoneNumber, "Numer kontaktowy: ", new { @class = "checkoutInputLabel" })
                @Html.TextBoxFor(o => o.PhoneNumber)
                @Html.ValidationMessageFor(o => o.PhoneNumber)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.Email, "E-mail: ", new { @class = "checkoutInputLabel" })
                @Html.TextBoxFor(o => o.Email)
                @Html.ValidationMessageFor(o => o.Email)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.Comment, "Uwagi do zamówienia", new { @class = "checkoutInputLabel" })
                @Html.TextAreaFor(o => o.Comment, new { @class = "checkoutTextArea" })
            </div>
            @Html.ValidationSummary()
        </div>
        <div class="indexPageBigHeaderSmallContainer checkoutSmallContainer">
            <h3 class="h3Checkout">Przesyłka</h3>
            <div class="checkoutDeliveryBox" id="PaymentInAdvance">
                <div class="checkoutDeliverySmallBox">
                    @Html.RadioButtonFor(o => o.PaymentMethod, "0", new { @class = "checkoutDeliveryRadio" })

                </div>
                <div class="checkoutDeliverySmallBox">
                    <p class="checkoutDeliveryText">Płatność z góry</p>
                    <p class="checkoutDeliveryText">15,00 zł</p>
                </div>
                <div class="checkoutDeliverySmallBox">
                    <img src="~/img/dpd.png" />
                </div>
            </div>
            <div class="checkoutDeliveryBox" id="PaymentOnDelivery">
                <div class="checkoutDeliverySmallBox">
                    @Html.RadioButtonFor(o => o.PaymentMethod, "1", new { @class = "checkoutDeliveryRadio" })

                </div>
                <div class="checkoutDeliverySmallBox">
                    <p class="checkoutDeliveryText">Płatność przy odbiorze</p>
                    <p class="checkoutDeliveryText">25,00 zł</p>
                </div>
                <div class="checkoutDeliverySmallBox">
                    <img src="~/img/dpd.png" />
                </div>
            </div>
            <h3 class="h3Checkout hidePaymentMethod">Metoda płatności</h3>
            <div class="checkoutDeliveryBox hidePaymentMethod">
                <div class="checkoutDeliverySmallBox">
                    <input type="radio" class="checkoutDeliveryRadio" checked="checked" />
                </div>
                <div class="checkoutDeliverySmallBox">
                    <img src="~/img/dotpay.png" />
                </div>
            </div>
            <button type="button" class="buttonSubmit checkoutButtonPosition" id="makeOrderButton">Złóż zamówienie</button>
        </div>
    </div>
    <div class="loader-container">
        <div class="loader"></div>
    </div>
}

@section ScriptsBottom {
    <script>
        $(function () {
            $("#PaymentOnDelivery").click(function () {
                $(".hidePaymentMethod").css("display", "none");
            });
            $("#PaymentInAdvance").click(function () {
                $(".hidePaymentMethod").css("display", "flex")
                $(".hidePaymentMethod").find('input').prop('checked', true);
            });
        });
        $('.checkoutDeliveryBox').click(function () {
            $(this).find('input').prop('checked', true)
        });
        $(".loader-container").hide();
        $("#makeOrderButton").click(function () {
            $(".loader-container").show();
            setTimeout(function () {
                $("#makeOrderForm").submit();
            }, 2000); 
        });
    </script>
}