﻿@model DotNetShop.DAL.Model.Order
@{
    ViewData["Title"] = "ConfirmOrder";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- [ Przygotowanie pod api dotPay ] -->

@using (Html.BeginForm("ConfirmOrder", "Cart", FormMethod.Post, new { @class = "checkoutForm searchResultCorrection" }))
{
    <h1>Podsumowanie zamówienia</h1>
    <div class="checkoutContainer">
        <div class="indexPageBigHeaderSmallContainer checkoutSmallContainer">
            @Html.AntiForgeryToken()

            <h3 class="h3Checkout">Dane osobowe</h3>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.FirstName, "Imię: ", new { @class = "checkoutInputLabel" })
                @Html.DisplayFor(o => o.FirstName)
                @Html.ValidationMessageFor(o => o.FirstName)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.LastName, "Nazwisko: ", new { @class = "checkoutInputLabel" })
                @Html.DisplayFor(o => o.LastName)
                @Html.ValidationMessageFor(o => o.LastName)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.Address, "Adres: ", new { @class = "checkoutInputLabel" })
                @Html.DisplayFor(o => o.Address)
                @Html.ValidationMessageFor(o => o.Address)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.ZipCode, "Kod pocztowy: ", new { @class = "checkoutInputLabel" })
                @Html.DisplayFor(o => o.ZipCode)
                @Html.ValidationMessageFor(o => o.ZipCode)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.City, "Miasto: ", new { @class = "checkoutInputLabel" })
                @Html.DisplayFor(o => o.City)
                @Html.ValidationMessageFor(o => o.City)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.PhoneNumber, "Numer kontaktowy: ", new { @class = "checkoutInputLabel" })
                @Html.DisplayFor(o => o.PhoneNumber)
                @Html.ValidationMessageFor(o => o.PhoneNumber)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.Email, "E-mail: ", new { @class = "checkoutInputLabel" })
                @Html.DisplayFor(o => o.Email)
                @Html.ValidationMessageFor(o => o.Email)
            </div>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.Comment, "Uwagi do zamówienia", new { @class = "checkoutInputLabel" })
                @Html.DisplayFor(o => o.Comment, new { @class = "checkoutTextArea" })
            </div>
            @Html.ValidationSummary()
            <h3 class="h3Checkout">Metoda dostawy</h3>
            <div class="checkoutInputInline">
                @Html.LabelFor(o => o.PaymentMethod, "Dostawa:", new { @class = "checkoutInputLabel" })
                @Html.DisplayFor(o => o.PaymentMethod)
            </div>
        </div>
        <div class="indexPageBigHeaderSmallContainer checkoutSmallContainer">
            <h3 class="h3Checkout">Zakupione rzeczy</h3>
            <div class="orderSummaryOverflow quickBasketScrollbar">
                @foreach (var productOrder in Model.OrderElems)
                {
                    <div class="checkoutDeliveryBox orderSummaryBoughtItemsBox">
                        <div class="checkoutDeliverySmallBox">
                            <img src="@productOrder.Product.ProductsGalleries.FirstOrDefault(x => x.ProductId == productOrder.ProductId).PhotoUrl" />
                        </div>
                        <div class="checkoutDeliverySmallBox">
                            <p class="checkoutDeliveryText textBold">@productOrder.Product.Name</p>
                            <p class="checkoutDeliveryText">@productOrder.Product.Model</p>
                        </div>
                        <div class="checkoutDeliverySmallBox">
                            <p class="checkoutDeliveryText">@productOrder.Quantity x</p>
                            <p class="checkoutDeliveryText basketCheckoutTotalPrice">@productOrder.UnitPrice</p>
                        </div>
                    </div>
                }
            </div>
            <div class="checkoutDeliveryBox orderSummaryBoughtItemsBox orderSummaryTotalPrice">
                <div class="checkoutDeliverySmallBox">
                    <p class="checkoutDeliveryText">Suma:</p>
                    <p class="checkoutDeliveryText basketCheckoutTotalPrice textBold">@Html.DisplayFor(o => o.TotalPrice)</p>
                </div>
            </div>
        </div>
    </div>
    if (Model.PaymentMethod == DotNetShop.DAL.Model.PaymentMethod.PaymentOnDelivery)
    {
        <a href="@Url.Action("Index", "Home")" class="buttonSubmit">Powrót do strony głównej</a>
    }
    else
    {
        <button type="submit" class="buttonSubmit">Zapłać za zamówienie</button>
    }
}
