﻿@model IEnumerable<DotNetShop.DAL.Model.Order>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ConfirmOrder";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- [ Przygotowanie pod api dotPay ] -->
<div class="userPanelContainer">
    @if (ViewBag.UserIsAdmin)
    {
        <partial name="_AdminPanelMenu" />
    }
    else
    {
        <partial name="_UserPanelMenu" />
    }
    <div class="userPanelSmallContainer">
        <div class="userPanelSwitchBox">
            @* @using (Html.BeginForm("OrderSummary", "Manage", FormMethod.Post, new { @class = "checkoutForm searchResultCorrection orderSummaryResizeForm" }))
                {*@
            <h1>Podsumowanie zamówienia</h1>
            @foreach (var order in Model)
            {
                <div class="checkoutContainer checkoutContainerOrderResize">


                    <div class="indexPageBigHeaderSmallContainer checkoutSmallContainer checkoutSmallContainerOrderResize">
                        @Html.AntiForgeryToken()

                        <h3 class="h3Checkout">Dane osobowe</h3>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.FirstName, "Imię: ", new { @class = "checkoutInputLabel" })
                            @Html.DisplayFor(o => order.FirstName)
                            @Html.ValidationMessageFor(o => order.FirstName)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.LastName, "Nazwisko: ", new { @class = "checkoutInputLabel" })
                            @Html.DisplayFor(o => order.LastName)
                            @Html.ValidationMessageFor(o => order.LastName)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.Address, "Adres: ", new { @class = "checkoutInputLabel" })
                            @Html.DisplayFor(o => order.Address)
                            @Html.ValidationMessageFor(o => order.Address)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.ZipCode, "Kod pocztowy: ", new { @class = "checkoutInputLabel" })
                            @Html.DisplayFor(o => order.ZipCode)
                            @Html.ValidationMessageFor(o => order.ZipCode)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.City, "Miasto: ", new { @class = "checkoutInputLabel" })
                            @Html.DisplayFor(o => order.City)
                            @Html.ValidationMessageFor(o => order.City)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.PhoneNumber, "Numer kontaktowy: ", new { @class = "checkoutInputLabel" })
                            @Html.DisplayFor(o => order.PhoneNumber)
                            @Html.ValidationMessageFor(o => order.PhoneNumber)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.Email, "E-mail: ", new { @class = "checkoutInputLabel" })
                            @Html.DisplayFor(o => order.Email)
                            @Html.ValidationMessageFor(o => order.Email)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.Comment, "Uwagi do zamówienia", new { @class = "checkoutInputLabel" })
                            @Html.DisplayFor(o => order.Comment, new { @class = "checkoutTextArea" })
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.OrderStatus, "Status: ", new { @class = "checkoutInputLabel" })
                            @if (ViewBag.UserIsAdmin)
                            {
                                using (Html.BeginForm("ChangeOrderState", "Manage", FormMethod.Post, new { @class = "ChangeOrderStateForm" }))
                                {
                                    @Html.HiddenFor(o => order.Id)
                                    <select asp-for="@order.OrderStatus" asp-items="Html.GetEnumSelectList<DotNetShop.DAL.Model.OrderStatus>()" class="changeOrderStateSelect changeOrderStateSelectBackColor"></select>
                                }
                            }
                            else
                            {
                                @Html.DisplayFor(o => order.OrderStatus)
                            }
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.IsPaid, "Opłacono:", new { @class = "checkoutInputLabel" })
                            @Html.DisplayFor(o => order.IsPaid)
                        </div>
                        @Html.ValidationSummary()
                        <h3 class="h3Checkout">Metoda dostawy</h3>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => order.PaymentMethod, "Dostawa:", new { @class = "checkoutInputLabel" })
                            @Html.DisplayFor(o => order.PaymentMethod)
                        </div>
                    </div>
                    <div class="indexPageBigHeaderSmallContainer checkoutSmallContainer checkoutSmallContainerOrderResize">
                        <h3 class="h3Checkout">Zakupione rzeczy</h3>
                        <div class="orderSummaryOverflow quickBasketScrollbar">
                            @foreach (var productOrder in order.OrderElems)
                            {
                                <div class="checkoutDeliveryBox orderSummaryBoughtItemsBox">
                                    <div class="checkoutDeliverySmallBox">
                                        <img src="@productOrder.Product.ProductsGalleries.FirstOrDefault(x => x.ProductId == productOrder.ProductId).PhotoUrl" />
                                    </div>
                                    <div class="checkoutDeliverySmallBox">
                                        <p class="checkoutDeliveryText textBold">@productOrder.Product.Name</p>
                                        <p class="checkoutDeliveryText">@productOrder.Product.Model</p>
                                    </div>
                                    <div class="checkoutDeliverySmallBox">
                                        <p class="checkoutDeliveryText">@productOrder.Quantity x</p>
                                        <p class="checkoutDeliveryText basketCheckoutTotalPrice">@productOrder.UnitPrice</p>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="checkoutDeliveryBox orderSummaryBoughtItemsBox orderSummaryTotalPrice">
                            <div class="checkoutDeliverySmallBox">
                                <p class="checkoutDeliveryText">Suma:</p>
                                <p class="checkoutDeliveryText basketCheckoutTotalPrice textBold">@Html.DisplayFor(o => order.TotalPrice)</p>
                            </div>
                        </div>
                    </div>
                </div>
                @if (order.PaymentMethod == DotNetShop.DAL.Model.PaymentMethod.PaymentOnDelivery)
                {
                    <a href="@Url.Action("UserOrders", "Manage")" class="buttonSubmit">Powrót do zamówień</a>
                }
                else
                {
                    <button type="submit" class="buttonSubmit">Zapłać za zamówienie</button>
                }
                @*}*@
            }
        </div>
    </div>
</div>

<script>
    $('.changeOrderStateSelect').on('change', function (e) {
        var f = $('.ChangeOrderStateForm');
        var action = f.attr("action");
        var serializedForm = f.serialize();
        $.post(action, serializedForm).done(function (data) {
            if (data == '@DotNetShop.DAL.Model.OrderStatus.New.ToString()') {
                $('.changeOrderStateSelect').addClass("changeOrderStateSelectBackColor");
            }
            else {
                $('.changeOrderStateSelect').removeClass("changeOrderStateSelectBackColor");
            }
        });
    });
</script>
