﻿@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

html, body {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    font-family: 'Lato', sans-serif;
}

.header-container {
    width: 100%;
    height: 4em;
    background-color: #f5f5f5;
    display: flex;
    position: fixed;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    z-index: 101;
    justify-content: center;
    align-items: center;
}

.stickyMenuMainContainerPush {
    padding-top: 52px;
}
/* --------- [STRONA GŁÓWNA] -------------- */
.main-container {
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

#indexPageFlexColumn {
    display: flex;
    flex-direction: column;
}

.indexPageBigHeader {
    width: 85vw;
    height: 50vh;
    background-color: #1a6fb0;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    box-shadow: inset 0px 0px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 32px;
}

.indexPageBigHeaderSmallContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkoutContainer {
    width: 80%;
    display: flex;
}

.newSpecAdded {
    font-weight: 600;
    font-size: 1.25em;
}

#AddedSpecNames {
    flex-direction: column;
    justify-content: left;
}

.checkoutInputInline {
    display: flex;
    align-items: center;
    width: 80%;
    flex-wrap: nowrap;
}

.product-detail-photos-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.checkoutInputLabel {
    display: flex;
    width: 20%;
    white-space: nowrap;
    margin-right: 20%;
    padding: 4px;
}

.checkoutSmallContainer {
    width: 50%;
    position: relative;
    justify-content: flex-start;
}

.checkoutForm {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
}

    .checkoutForm input[type=text] {
        width: 40%;
    }

.checkoutButtonPosition {
    position: absolute !important;
    bottom: 0 !important;
}

.marginBttn {
    margin-left: 8px !important;
}

.orderSummaryTotalPrice {
    justify-content: flex-end !important;
}

.buttonSubmit {
    padding: 12px;
    position: relative;
    bottom: 0;
    margin: 8px 8px 0 0;
    border: 0;
    border-radius: 6px;
    background-color: #4B8BF4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.basketButtonPositionFix {
    margin: 0;
    width: 20%;
    text-align: center;
}

.buttonSubmit:hover {
    background-color: #669BF3;
}

.grid-bttn-container {
    display: grid;
    grid-template-columns: 8vw 8vw;
    grid-template-rows: 1fr 1fr;
}

.checkoutTextArea {
    margin: 8px;
    border: 2px solid white;
    border-color: #f6f6f6;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    width: 40%;
    height: 5vh;
    resize: none;
}

.listOfSpecificationToAddText {
    display: none;
}

.checkoutDeliverySmallBox img {
    width: 5vw;
}

.checkoutDeliveryText {
    white-space: nowrap;
}

.textBold {
    font-weight: 600;
}

.orderSummaryOverflow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
}

.orderSummaryBoughtItemsBox {
    background-color: white !important;
    box-shadow: none !important;
    cursor: default !important;
}

.checkoutDeliveryBox {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    box-shadow: 2px 0 8px rgba(0,0,0,0.25);
    margin: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 10px;
    cursor: pointer;
}

    .checkoutDeliveryBox:hover {
        box-shadow: 2px 0 8px rgba(0,0,0,0.5);
    }

.hidePaymentMethod {
    display: flex;
}

.checkoutDeliverySmallBox {
    width: 27%;
}

    .checkoutDeliverySmallBox:nth-child(1) {
        text-align: center;
        width: 10%;
    }

.h3Checkout {
    font-size: 1vw;
    margin: 16px;
}

.indexPageBigHeaderSmallContainer {
    display: flex;
    flex-direction: column;
}

.indexPageBigHeaderH1, .indexPageBigHeaderH1Description {
    font-size: 3em;
    color: #f7f7f7;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}

.indexPageBigHeaderH1Description {
    font-size: 1.2em;
}

.indexPageBigHeaderImg {
    width: 30vw;
}

.indexPageBigHeader .indexPageBigHeaderArrows {
    visibility: hidden;
    display: flex;
    align-items: center;
}

.indexPageBigHeader:hover .indexPageBigHeaderArrows {
    visibility: visible;
}

.indexPageBigHeader .arrow-right-header, .arrow-left-header {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 40px !important;
    width: 40px !important;
    background-color: white;
    border-radius: 30px !important;
    text-decoration: none;
    color: black;
    margin: 24px;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

    .arrow-right-header:hover, .arrow-left-header:hover {
        background-color: lightcyan;
    }

.indexPageTrendingProducts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.indexProductPromoCenter {
    margin: 0 auto;
}

.indexProductPromoCenterInline {
    justify-content: center;
}

.trendingProductsContainer {
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.trendingProductsH2 {
    font-size: 1.5em;
    margin: 24px;
    display: flex;
    align-items: center;
}

.trendingProductsShowMore {
    display: flex;
    margin: 24px;
    height: 0;
    padding: 24px;
    align-items: center;
    color: black;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
}

    .trendingProductsShowMore:hover {
        background-color: black;
        color: white;
    }

        .trendingProductsShowMore:hover > .icon-right-open {
            color: white;
        }

    .trendingProductsShowMore .icon-right-open {
        margin-left: 8px;
        border-radius: 0;
        box-shadow: none;
    }

.limitedOfferContainer {
    width: 70%;
    display: flex;
    margin: 0 auto;
    height: 50vh;
    position: relative;
    background-color: rgb(241, 248, 255);
    border-radius: 10px;
    box-shadow: inset 0px 0 48px rgba(0, 0, 0, 0.15);
}

.limitedOfferSmallContainer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .limitedOfferSmallContainer:first-child {
        width: 40%;
    }

    .limitedOfferSmallContainer img {
        width: 30vw;
    }

.limitedOfferRedText {
    padding: 6px 0px 6px 0px;
    width: 40%;
    font-size: 0.75em;
    text-align: center;
    border-radius: 4px;
    color: #f7f7f7;
    background-color: rgb(243, 71, 112);
}

.limitedOfferAboveH3 {
    font-size: 1.15em;
    margin: 8px 0 0 0;
    color: rgb(130, 144, 172);
}

.limitedOfferH3 {
    font-size: 2em;
    margin: 8px 0 8px 0;
}

.limitedOfferTime {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.limitedOfferHours {
    font-size: 1.65em;
    color: rgb(55, 63, 80);
    margin: 8px 2px 8px 16px;
}

.limitedOfferHoursText {
    display: flex;
    align-items: center;
    color: rgb(130, 144, 172);
}

.limitedOfferCheckA {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgb(78, 84, 200);
    margin-top: 8px;
    transition: 0.2s;
    transition-timing-function: ease-in;
}

    .limitedOfferCheckA .limitedOfferRightArrow {
        margin-left: 4px;
    }

    .limitedOfferCheckA:hover {
        background-color: rgb(42, 46, 133);
    }

.limitedOfferPromoPriceBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    right: 3%;
}

.limitedOfferPromoPrice {
    text-align: right;
    font-size: 1.5em;
    text-decoration: line-through;
}

    .limitedOfferPromoPrice:nth-child(2) {
        font-size: 2em;
        text-decoration: none;
        padding: 6px 8px 6px 8px;
        text-align: center;
        border-radius: 4px;
        color: #f7f7f7;
        background-color: rgb(243, 71, 112);
    }
/* --------- [/STRONA GŁÓWNA] -------------*/
.reset-style {
    all: unset !important;
}


.header-box {
    width: 33%;
    height: 4em;
    display: flex;
    justify-content: flex-end;
}


    .header-box .site-logo {
        position: relative;
        top: 30%;
        width: 100px;
        height: 25px;
    }

    .header-box:nth-child(2) {
        width: 70%;
    }

    .header-box:nth-child(3) {
        justify-content: start;
    }

    .header-box .search-box {
        width: 100%;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

#topSearchBarForm {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.search-box #topSearchBarInput {
    width: 80%;
    height: 2.5em;
    border-radius: 30px;
    padding-left: 12px;
    padding-right: 70px;
    border: 0;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    font-size: 16px;
    position: relative;
}

    .search-box #topSearchBarInput:focus {
        outline: none;
        padding-left: 12px;
        padding-right: 70px;
    }

.search-box .topSearchBarBttn {
    position: absolute;
    right: 4.25em !important;
    line-height: 0;
    width: 75px;
    box-shadow: inset 0px 0px 8px rgba(0,0,0,0.25);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    color: white;
    background-color: #4B8BF4;
    border: 0;
    cursor: pointer;
}

    .search-box .topSearchBarBttn:hover {
        background-color: #669BF3;
    }

.iconSearch {
    font-size: 2em !important;
}

.search-box .topSearchBarBttn:focus {
    outline: none;
}

.searchTopBarListItemsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 8px;
    align-items: center;
}

.ui-widget-content {
    background: none !important;
    background-color: white !important;
    border-radius: 10px !important;
    border: 0 !important;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
}

#searchTopBarListItemsShowMore {
    display: block;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    width: 100%;
    text-align: center;
}

    #searchTopBarListItemsShowMore:hover {
        background-color: #246a80;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

.ui-menu-item {
    list-style-image: none !important;
    list-style-type: none !important;
}

.searchTopBarListItemsContainer .topSearchBarListItemImg {
    width: 4vw;
}

.searchTopBarListItemsContainer .topSearchBarItemListName {
    margin-left: 8px;
}

.user-panel-box {
    width: 100px;
    margin: 4px;
    position: relative;
    z-index: 100;
}

    .user-panel-box:hover {
        border-radius: 8px 8px 0 0;
        box-shadow: 1px 0 8px rgba(0, 0, 0, 0.25);
        background-color: white;
    }

        .user-panel-box:hover:nth-child(1) {
            border-radius: 8px;
        }

    .user-panel-box a {
        color: black !important;
        text-decoration: none;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-panel-box .icon-user, .icon-basket {
        font-size: 24px;
    }

    .user-panel-box ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 15vw;
        border-radius: 0px 8px 8px 8px;
        box-shadow: 1px 5px 8px rgba(0,0,0,0.25);
        background-color: white;
    }

.header-box .user-panel-box ul > li {
    list-style-type: none;
    display: none;
}

.header-box .user-panel-box:hover ul > li {
    padding-top: 8px;
    display: block;
}

.userPanelBoxUserOption {
    text-align: left;
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.userPanelListUserOption {
    display: flex;
    flex-direction: row;
}

.user-panel-box ul > li .user-panel-button {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    font-size: 1em;
    height: 2em;
    background-color: #4B8BF4;
    color: white !important;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

    .user-panel-box ul > li .user-panel-button:hover {
        background-color: #669BF3;
    }

.user-panel-box ul > li .search-bar-line {
    width: 11em;
    height: 1px;
    position: relative;
    bottom: 8px;
    border-bottom: 1px solid grey;
}

.user-panel-box ul > li .user-panel-text-under-icons {
    font-size: 12px;
    text-align: center;
    background-color: white;
    color: grey;
    margin: 0 auto;
    width: 10.5em;
    position: relative;
    z-index: 1;
}

.user-panel-box ul > li:nth-child(n+2) {
    width: 12em;
    font-size: 1em;
    margin-bottom: 8px;
}

.userPanelAvatar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

    .userPanelAvatar .userPanelMiniAvatarImg {
        width: 32px;
        height: 32px;
    }

    .userPanelAvatar .userPanelAvatarImg {
        width: 72px;
        height: 72px;
    }

.userPanelName {
    font-size: 1.15em;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 8px;
}

.nav-container {
    position: fixed;
    margin-top: 64px;
    height: calc(100% - 4em);
    width: 3em;
    background-color: #f5f5f5;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.25);
    z-index: 101;
}

    .nav-container ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        .nav-container ul > li {
            transition: 0.2s;
            transition-timing-function: ease-in;
        }

            .nav-container ul > li > a {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background-color: rgb(26, 111, 176);
                position: relative;
                color: white;
                text-decoration: none;
                right: 20em;
                width: 23em;
                height: 3em;
                transition: 0.2s;
                transition-timing-function: ease-in;
            }

                .nav-container ul > li > a > .mainCategoryNavIcon {
                    position: relative;
                    text-align: center;
                    font-size: 2em;
                    right: 0.52rem;
                    margin-left: 8px;
                }

                .nav-container ul > li > a > .category-name {
                    margin-right: 10px;
                }

            .nav-container ul > li:hover {
                transform: translateX(19em);
            }

                .nav-container ul > li:hover > a {
                    justify-content: center;
                }

            .nav-container ul > li > .nav-category-container > ol {
                display: none;
                margin: 0;
                list-style-type: none;
                width: 5em;
                padding: 0;
            }

            .nav-container ul > li > .nav-category-container {
                display: none;
            }

            .nav-container ul > li:hover > .nav-category-container {
                display: flex;
                justify-content: start;
                flex-direction: column;
                position: absolute;
                left: -16em;
                width: 19em;
                box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
                height: 70vh;
                border-bottom-left-radius: 10px;
                background-color: #f5f5f5;
            }

            .nav-container ul > li > .nav-category-container > ol > li > a {
                background-color: rgb(26, 111, 176);
                display: flex;
                line-height: 300%;
                color: white;
                padding-left: 8px;
                width: 18.5em;
                height: 3em;
                white-space: nowrap;
                text-decoration: none;
                transition: 0.1s;
                transition-timing-function: ease-in;
            }

                .nav-container ul > li > .nav-category-container > ol > li > a > .icon-right-open {
                    width: 100%;
                    display: flex;
                    align-items: center;
                }

                .nav-container ul > li > .nav-category-container > ol > li > a:hover {
                    background-color: #1d84ec;
                }

            .nav-container ul > li:hover > .nav-category-container > ol {
                display: flex;
                flex-direction: column;
            }

            .nav-container ul > li > .nav-category-container > ol > li > .nav-category-container {
                display: none;
            }

            .nav-container ul > li > .nav-category-container > ol > li:hover > .nav-category-container {
                display: flex;
                flex-direction: column;
                width: 19em;
                height: 70vh;
                background-color: #f5f5f5;
                position: absolute;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                box-shadow: 8px 2px 8px rgba(0,0,0,0.25);
                left: 19em;
                bottom: 0;
            }

                .nav-container ul > li > .nav-category-container > ol > li:hover > .nav-category-container > ol {
                    display: flex;
                    list-style-type: none;
                    flex-direction: column;
                }

                    .nav-container ul > li > .nav-category-container > ol > li:hover > .nav-category-container > ol > li > a {
                        line-height: 300%;
                        color: black;
                        padding-left: 8px;
                        width: 18.5em;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row;
                        height: 3em;
                        text-decoration: none;
                        transition: 0.1s;
                        transition-timing-function: ease-in;
                    }

                        .nav-container ul > li > .nav-category-container > ol > li:hover > .nav-category-container > ol > li > a:hover {
                            background-color: #1d84ec;
                            color: white;
                        }

.navCategoryShowProductsA {
    text-decoration: none;
    color: black !important;
}

.nav-category-name-after-hover {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

    .nav-category-name-after-hover a {
        text-decoration: none;
        color: black;
    }

        .nav-category-name-after-hover a:hover {
            color: rgb(81, 81, 81);
        }

.navCategoryShowProductsA:hover {
    color: white !important;
}

.nav-arrow-right {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: flex-end !important;
}

.line-break {
    display: none;
    height: 500px;
    border: 1px solid #4B8BF4;
}

.main-content {
    display: flex;
    justify-content: center;
}

.register-container {
    width: 40%;
    display: flex;
    border-radius: 10px;
    justify-content: center !important;
    align-items: center;
    margin-top: 32px;
    background-color: white;
    padding-bottom: 16px;
    padding-top: 16px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
}

    .register-container .register-account-text {
        font-size: 20px;
        text-align: left;
        margin: 2px;
        padding-bottom: 6px;
    }

    .register-container form {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8px;
    }

input[type="password"], input[type="text"], input[type="email"] {
    margin: 8px;
    border: 2px solid white;
    border-color: #f6f6f6;
    border-radius: 6px;
    padding: 8px;
    font-size: 0.85em;
    background-color: #f6f6f6;
}
.register-inline #UserName, #Email {
    width: 92%;
}
input[type=checkbox]:checked {
    color: lightblue;
}

input[placeholder]::-webkit-input-placeholder {
    color: black !important;
}

.register-account .register-inline {
    display: flex;
    flex-direction: row;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
    outline: none !important;
    color: #669BF3 !important;
    border: 2px solid #669BF3;
}

.register-container-box .register-left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

    .register-container-box .register-left-box label {
        color: white;
        margin: 10px;
        text-shadow: 1px 1px 4px black;
    }

.register-account .register-inline input[type=checkbox] {
    margin-left: 15px;
    margin-top: 10px;
    width: 16px;
    height: 16px;
}

.register-terms-text {
    margin-left: 5px;
    font-size: 12px !important;
    width: 300px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.register-image {
    height: 500px;
    border-radius: 30px 0px 30px 0px;
    background: #C33764;
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../img/register.jpg");
    background: linear-gradient(rgba(60, 66, 119, 0.8), rgba(190, 115, 139, 0.8)), url("../img/register.jpg") no-repeat;
    background-size: 200% 100%;
}

.register-container .register-container-box-right {
    width: 50%;
    display: flex;
}

.login-account-container {
    width: 20%;
}

    .login-account-container form {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-account-container input[type="text"], input[type="password"] {
        width: 55% !important;
        font-size: 0.85em;
        margin: 8px;
        border: 2px solid white;
        border-color: #f6f6f6;
        border-radius: 6px;
        padding: 8px;
        background-color: #f6f6f6;
    }

    .login-account-container input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus {
        outline: none !important;
        color: #669BF3 !important;
        border: 2px solid #669BF3;
    }

.login-account-text {
    font-size: 1.25em;
    margin: 0 0 8px 0;
}

.login-forgot-password {
    margin: 4px;
}

.login-validation-text, .field-validation-error {
    color: red;
    font-size: 0.9em;
}


.searchResultCorrection {
    margin-top: 24px;
}

    .searchResultCorrection .searchResultH1 {
        font-size: 1.5em;
    }

.product-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .product-list .popular-products-in-category {
        width: 80%;
    }

        .product-list .popular-products-in-category h1 {
            margin: 16px;
            font-size: 1vw;
        }

    .product-list .popular-products-in-category-inline {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.product-container {
    width: 25%;
    margin: 16px;
    position: relative;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 16px;
    transition: 0.2s;
    transition-timing-function: ease-in;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .product-container img {
        width: 10vw;
        border-radius: 16px 16px 0 0;
    }

.product-container-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.product-container .product-name {
    font-size: 1vw;
    margin-left: 8px;
    align-self: flex-start;
    font-weight: 600;
}
.textAreaResize {
    flex-direction: column;
    align-items: flex-start;
}
.textAreaLabel {
    margin-bottom: 8px;
}
.note-frame {
    width: 85%;
}
.product-container .product-model {
    font-size: 0.75vw;
    margin-left: 8px;
    align-self: flex-start;
}

.product-container .product-opinion {
    display: block;
    width: 100%;
    margin: 8px;
}

.product-container .product-types {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 64px;
    align-self: flex-start;
    height: -webkit-fill-available;
}
.product-type-specname {
    color: grey;
    white-space: nowrap;
}
.product-container .product-types .product-type-specname, .product-type-specvalue {
    font-size: 0.8vw;
    margin-top: 8px;
    margin-left: 8px;
}
.product-type-inline {
    display: flex;
    flex-direction: row;
}
.main-container .slideMessage {
    display: flex;
    width: 40vw;
    height: 5vw;
    position: absolute;
    top: 70px;
    left: 30%;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    z-index: 110;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-animation: slideIn 1s;
    animation-timing-function: ease-in;
}
.slideText {
    text-align: center;
}
@-webkit-keyframes slideIn {
    0% {
        top: 0px;
        opacity: 0;
    }

    100% {
        top: 70px;
        opacity: 1;
    }
}
.slideMessage .slideMessageCloseBttn {
    position: absolute;
    top: 4px;
    right: 8px;
    height: 10px;
    display: block;
    cursor: pointer;
}
    .slideMessage .slideMessageCloseBttn:hover {
        color: lightgrey;
    }
.product-container .product-container-bottom {
    width: 100%;
    z-index: 10;
    display: flex;
    position: absolute;
    bottom: 0;
    margin-top: 24px;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 8px;
}

    .product-container .product-container-bottom .product-price {
        margin: 8px;
        font-size: 1vw;
        display: block;
        height: 30px;
    }

    .product-container .product-container-bottom .productAddToCart {
        text-align: center;
        border: 2px solid aquamarine;
        width: 30px;
        height: 30px;
        margin-right: 16px;
        display: none;
        border-radius: 20px;
        text-decoration: none;
    }

.product-container:hover .product-container-bottom .productAddToCart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container .product-container-bottom .productAddToCart:hover {
    border: 2px solid grey;
}

    .product-container .product-container-bottom .productAddToCart:hover .productAddToCartIcon {
        color: grey;
    }

.product-container .product-container-bottom .productAddToCart .productAddToCartIcon {
    font-size: 1vw;
    color: #6ddbb6;
}

.product-container:hover {
    border-top: 2px solid #1a6fb0;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
}

.product-list .product-sort-container {
    width: 90%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    justify-content: flex-end;
    flex-direction: row;
}

    .product-list .product-sort-container .product-sort-like {
        margin-right: 32px;
    }

        .product-list .product-sort-container .product-sort-like label {
            margin-right: 8px;
        }

    .product-list .product-sort-container .product-sort-page {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-right: 56px;
    }

        .product-list .product-sort-container .product-sort-page a {
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 30px;
            text-align: center;
            line-height: 200%;
            background-color: aquamarine;
            margin-left: 12px;
            color: black;
        }

.orderPageBox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.product-list .product-sort-container .product-sort-page input[type="text"] {
    width: 1vw;
    text-align: center;
    border: 2px solid #dbdbdb;
    background-color: white;
    border-radius: 30px;
}

    .product-list .product-sort-container .product-sort-page input[type="text"]:focus {
        outline: none;
        border: 2px solid aquamarine;
        border-radius: 30px;
    }

.product-filters-container {
    width: 12vw;
    height: 100%;
    margin: 16px;
    display: flex;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    white-space: nowrap;
    flex-direction: column;
}

    .product-filters-container .product-filter h1 {
        margin-top: 16px;
        margin-left: 8px;
        font-size: 1.10vw;
    }

    .product-filters-container .filters-container h6 {
        font-size: 0.85vw;
    }

    .product-filters-container .filters-container a {
        margin-top: 4px;
        font-size: 0.75vw;
        text-decoration: none;
        color: black;
    }

    .product-filters-container .filters-container {
        padding: 8px;
        display: flex;
        flex-direction: column;
    }

        .product-filters-container .filters-container input[type="text"] {
            width: 2.25vw;
            height: 1vh;
            border-radius: 30px;
            text-align: center;
            background-color: white;
        }

        .product-filters-container .filters-container .filter-price input[type=text]::-webkit-input-placeholder {
            color: #dbdbdb !important;
        }

        .product-filters-container .filters-container .filter-price input[type=text]:focus {
            outline: none;
            border: 2px solid #c7c7c7;
            border-radius: 30px !important;
        }

    .product-filters-container .product-filter-actual-category {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 8px;
    }

        .product-filters-container .product-filter-actual-category a {
            text-decoration: none;
            color: black;
            font-size: 0.85vw;
        }

            .product-filters-container .product-filter-actual-category a:nth-child(2) {
                text-decoration: none;
                color: black;
                font-weight: 600;
                font-size: 0.75vw;
                margin: 8px;
            }

.productEditLink {
    position: absolute;
    right: 0;
    top: 0%;
    text-decoration: none;
    color: black;
}

    .productEditLink:hover {
        color: grey;
    }

.product-detail-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 32px;
}

    .product-detail-container .product-detail-photo {
        display: flex;
        flex-direction: column;
    }

        .product-detail-container .product-detail-photo .product-detail-main-photo img {
            width: 22vw;
        }

        .product-detail-container .product-detail-photo .product-detail-photos {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .product-detail-container .product-detail-photo .product-detail--photo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4vw;
            border: 1px solid grey;
            border-radius: 10px;
            margin-left: 4px;
        }

            .product-detail-container .product-detail-photo .product-detail--photo img {
                width: 3.75vw;
                border-radius: 10px;
            }

    .product-detail-container .product-detail-info {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 12px;
        order: 1;
    }

        .product-detail-container .product-detail-info h1 {
            font-size: 1.75vw;
        }

        .product-detail-container .product-detail-info .product-detail-info-manufacturer-details {
            display: flex;
            flex-direction: row;
        }

            .product-detail-container .product-detail-info .product-detail-info-manufacturer-details p {
                margin-right: 8px;
                margin-top: 8px;
                font-size: 0.65vw;
                color: grey;
            }

    .product-detail-container .product-detail-info-extend-container {
        display: flex;
        flex-direction: row;
    }

    .product-detail-container .product-detail-info-extend {
        width: 20vw;
        height: 100%;
        margin-right: 4px;
        margin-top: 16px;
    }

        .product-detail-container .product-detail-info-extend:last-child {
            width: 18.5vw !important;
            position: relative;
        }

        .product-detail-container .product-detail-info-extend .product-quick-spec {
            margin-bottom: 12px;
        }

        .product-detail-container .product-detail-info-extend .product-scroll-to-full-spec {
            text-decoration: none;
            display: block;
            margin-left: 8px;
            color: rgb(26, 111, 176);
            width: 100%;
            white-space: nowrap;
        }

        .product-detail-container .product-detail-info-extend:nth-child(2) {
            border: 1px solid black;
            border-radius: 10px;
            height: auto;
            margin-left: 32px;
        }

        .product-detail-container .product-detail-info-extend .product-detail-info-extend-quantity-details {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            top: 6px;
            left: 12px;
        }

        .product-detail-container .product-detail-info-extend h3 {
            margin-right: 32px;
            margin-top: 16px;
            font-size: 1.25vw;
            text-align: right;
        }

        .product-detail-container .product-detail-info-extend .product-detail-add-to-cart {
            display: flex;
            justify-content: center;
            margin: 8px;
        }

            .product-detail-container .product-detail-info-extend .product-detail-add-to-cart input[type=number] {
                width: 2vw;
                height: 3.45vh;
                margin: 8px;
                border-radius: 10px;
                border-color: rgb(26, 111, 176);
                -webkit-appearance: none;
                -moz-appearance: textfield;
                padding: 4px 4px 4px 4px;
                text-align: center;
                padding-right: 8px;
            }

                .product-detail-container .product-detail-info-extend .product-detail-add-to-cart input[type=number]:focus {
                    outline: none;
                }

            .product-detail-container .product-detail-info-extend .product-detail-add-to-cart a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                width: 60%;
                height: 4vh;
                background-color: rgb(26, 111, 176);
                border-radius: 10px;
                padding: 4px 4px 4px 4px;
                text-align: center;
                margin: 8px;
            }

                .product-detail-container .product-detail-info-extend .product-detail-add-to-cart a:hover {
                    background-color: #1d84ec;
                }

        .product-detail-container .product-detail-info-extend .product-detail-info-extend-quantity-details p {
            font-size: 0.8vw;
            margin-top: 4px;
        }

.fl-column {
    display: flex;
    flex-direction: column;
}

.fl-row {
    display: flex;
    flex-direction: row;
}

.fl-center {
    justify-content: center;
}

.product-sticky-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 6vh;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 16px;
}

    .product-sticky-nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
    }

        .product-sticky-nav ul > li a {
            padding-right: 12px;
            padding-left: 12px;
            height: 6vh;
            color: black;
            text-decoration: none;
            display: flex;
            align-items: center;
        }

            .product-sticky-nav ul > li a:hover {
                background-color: lavender;
            }

    .product-sticky-nav .product-sticky-nav-col {
        display: flex;
        width: 50%;
        flex-direction: row;
        align-items: center;
    }

        .product-sticky-nav .product-sticky-nav-col:nth-child(2) {
            justify-content: flex-end;
            /*display: none;*/
        }

        .product-sticky-nav .product-sticky-nav-col img {
            width: 2.5vw;
            margin: 16px;
        }

        .product-sticky-nav .product-sticky-nav-col p {
            margin: 16px;
        }

        .product-sticky-nav .product-sticky-nav-col a:nth-child(3) {
            color: black;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35%;
            height: 70%;
            background-color: lightblue;
            border-radius: 20px;
            margin: 16px;
        }

            .product-sticky-nav .product-sticky-nav-col a:nth-child(3):hover {
                background-color: lavender;
            }
.product-container-bottom-position {
    position: unset !important;
}
.product-information--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px auto;
    width: 70%;
}

.product-detail-info-manufacturer-details .productDetailsManufacturerImg {
    width: 5vw;
}

.product-information--container p {
    padding-left: 16px;
    padding-bottom: 32px;
}

.product-information--container .break-line {
    position: relative;
    padding-top: 12px;
    padding-left: 8px;
    padding-bottom: 8px;
}

    .product-information--container .break-line::after {
        content: '';
        height: 3px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #c33764; /* Old browsers */
        background: -moz-linear-gradient(left, #c33764 0%, #c33764 3%, #1d2671 3%, #1d2671 9%, #c9c9c9 9%, #c9c9c9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #c33764 0%,#c33764 3%,#1d2671 3%,#1d2671 9%,#c9c9c9 9%,#c9c9c9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #c33764 0%,#c33764 3%,#1d2671 3%,#1d2671 9%,#c9c9c9 9%,#c9c9c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c33764', endColorstr='#c9c9c9',GradientType=1 );
    }

    .product-information--container .break-line h1 {
        font-size: 1.5vw;
    }

.product-full-spec-table {
    width: 100%;
    border-spacing: 0;
    padding-right: 32px;
    padding-left: 32px;
    margin-bottom: 32px;
}

    .product-full-spec-table td {
        text-align: center;
        padding: 8px;
    }

    .product-full-spec-table tr {
        background-color: lightgrey;
    }

        .product-full-spec-table tr:nth-child(even) {
            background-color: white;
        }

        .product-full-spec-table tr:hover {
            background-color: aquamarine;
        }

    .product-full-spec-table td:nth-child(1) {
        width: 30%;
    }

    .product-full-spec-table td:nth-child(2) {
        width: 70%;
    }

.product-information--container .product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

    .product-information--container .product-description img {
        width: 20vw;
        margin: 0 auto;
    }

.product-accesories-container {
    width: 20%;
    margin: 16px;
    height: 90%;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 16px;
    transition: 0.2s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

    .product-accesories-container img {
        width: 100%;
        border-radius: 16px 16px 0 0;
    }

    .product-accesories-container .product-container-bottom {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
    }

        .product-accesories-container .product-container-bottom .product-price {
            padding: 16px;
            font-size: 1vw;
        }

        .product-accesories-container .product-container-bottom a {
            text-align: center;
            line-height: 200%;
            border: 2px solid aquamarine;
            width: 30px;
            height: 30px;
            margin-right: 16px;
            display: none;
            border-radius: 20px;
        }

    .product-accesories-container .product-name {
        font-size: 1vw;
        margin-left: 8px;
        padding: 12px;
    }

    .product-accesories-container .product-model {
        font-size: 0.75vw;
        margin-left: 8px;
    }

    .product-accesories-container:hover .product-container-bottom a {
        display: block;
    }

    .product-accesories-container .product-container-bottom a:hover {
        border: 2px solid #6ddbb6;
    }

        .product-accesories-container .product-container-bottom a:hover .icon-basket {
            color: #6ddbb6;
        }

    .product-accesories-container .product-container-bottom a .icon-basket {
        font-size: 1vw;
        color: aquamarine;
    }

    .product-accesories-container:hover {
        border-top: 2px solid /*rgba(182, 182, 182, 0.25)*/ grey;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
    }

.big-plus {
    display: flex;
    font-size: 3vw;
    color: lightgrey;
}

.product-opinion-container {
    width: 60vw;
    display: flex;
    flex-direction: row;
}

    .product-opinion-container .product-opinion-container-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .product-opinion-container .product-opinion-container-box:nth-child(1) {
            transform: translate(0%,25%);
        }

        .product-opinion-container .product-opinion-container-box h1 {
            font-size: 2.5vw;
        }

        .product-opinion-container .product-opinion-container-box .product-opinion-stars {
            font-size: 1.75vw; /*
            position: relative;
            bottom: 75px;*/
        }

        .product-opinion-container .product-opinion-container-box .product-opinion-amount {
            position: relative;
            right: 10px;
        }

.product-opinion-container-box .product-opinion-star-grade a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 10px;
    align-items: center;
    padding: 12px;
    color: black;
}

    .product-opinion-container-box .product-opinion-star-grade a:hover .product-opinion-star-rating {
        background-color: red;
    }

    .product-opinion-container-box .product-opinion-star-grade a:hover .product-opinion-star-grade-text {
        color: red;
    }

    .product-opinion-container-box .product-opinion-star-grade a .product-opinion-star-rating {
        display: block;
        width: 10vw;
        height: 8px;
        border-radius: 20px;
        padding: 0;
        background-color: lightblue;
    }

    .product-opinion-container-box .product-opinion-star-grade a .product-opinion-star-grade-text {
        margin-right: 12px;
        padding: 0;
    }

        .product-opinion-container-box .product-opinion-star-grade a .product-opinion-star-grade-text:nth-child(3) {
            margin-left: 12px;
        }

.product-opinion-container .product-opinion-user {
    display: flex;
    flex-direction: row;
    width: 100%;
}

    .product-opinion-container .product-opinion-user .product-opinion-user-sort-select-add-opinion {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0px 0px 8px 0px;
    }

        .product-opinion-container .product-opinion-user .product-opinion-user-sort-select-add-opinion:nth-child(1) {
            width: 5vw;
        }

        .product-opinion-container .product-opinion-user .product-opinion-user-sort-select-add-opinion:nth-child(2) {
            justify-content: start;
        }

            .product-opinion-container .product-opinion-user .product-opinion-user-sort-select-add-opinion:nth-child(2) select {
                padding: 8px 24px 8px 8px;
                font-size: 1em;
                margin-left: 8px;
                -webkit-appearance: listitem;
                border-radius: 20px;
            }

        .product-opinion-container .product-opinion-user .product-opinion-user-sort-select-add-opinion:last-child {
            justify-content: flex-end;
        }

            .product-opinion-container .product-opinion-user .product-opinion-user-sort-select-add-opinion:last-child a {
                display: block;
                padding: 12px;
                border: 1px solid black;
                text-decoration: none;
                color: black;
            }

                .product-opinion-container .product-opinion-user .product-opinion-user-sort-select-add-opinion:last-child a:hover {
                    background-color: black;
                    color: white;
                }

.product-opinion-container-user-opinion {
    width: 60vw;
    display: flex;
    justify-content: center;
    margin: 1px;
}

    .product-opinion-container-user-opinion .product-opinion-user-name {
        width: 25%;
        background-color: lightgrey;
    }

        .product-opinion-container-user-opinion .product-opinion-user-name .user-star-grade {
            padding: 18px;
            text-align: center;
        }

        .product-opinion-container-user-opinion .product-opinion-user-name .user-avatar, .user-name {
            width: 100%;
            display: flex;
            justify-content: center;
        }

            .product-opinion-container-user-opinion .product-opinion-user-name .user-avatar img {
                width: 4vw;
                height: 8vh;
                border-radius: 30px;
            }

        .product-opinion-container-user-opinion .product-opinion-user-name .user-name {
            width: 83%;
            display: flex;
            padding-top: 8px;
            font-size: 1.25em;
            justify-content: center;
        }

        .product-opinion-container-user-opinion .product-opinion-user-name .user-name-opinion-date {
            display: flex;
            justify-content: flex-start;
            position: relative;
            top: 16px;
        }

    .product-opinion-container-user-opinion .product-opinion-user-opinion {
        width: 80%;
        background-color: #c1c1c1;
    }

        .product-opinion-container-user-opinion .product-opinion-user-opinion h2 {
            font-size: 1.5em;
            padding: 12px;
        }

        .product-opinion-container-user-opinion .product-opinion-user-opinion .product-opinion-user-full-opinion {
            font-size: 1.05em;
        }

        .product-opinion-container-user-opinion .product-opinion-user-opinion .product-opinion-is-helpful {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-top: 28px;
            align-items: center;
        }

            .product-opinion-container-user-opinion .product-opinion-user-opinion .product-opinion-is-helpful .product-opinion-is-helpful-question {
                position: relative;
                top: 16px;
            }

            .product-opinion-container-user-opinion .product-opinion-user-opinion .product-opinion-is-helpful .product-opinion-is-helpful-question, .product-opinion-is-helpful-hand {
                margin-right: 16px;
            }

            .product-opinion-container-user-opinion .product-opinion-user-opinion .product-opinion-is-helpful .product-opinion-is-helpful-hand a {
                color: black;
                font-size: 1.25em;
            }

                .product-opinion-container-user-opinion .product-opinion-user-opinion .product-opinion-is-helpful .product-opinion-is-helpful-hand a:hover {
                    color: #00d600;
                }

            .product-opinion-container-user-opinion .product-opinion-user-opinion .product-opinion-is-helpful .product-opinion-is-helpful-hand:last-child a:hover {
                color: red;
            }

.allCategoriesContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .allCategoriesContainer .allCategoriesGrid {
        width: 50%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }

    .allCategoriesContainer .allCategoriesCategoryNameTile a img {
        width: 50%;
    }

    .allCategoriesContainer .allCategoriesCategoryNameTile {
        width: 15vw;
        padding-top: 8px;
        border-radius: 20px 20px 0 0;
        margin: 8px;
    }

        .allCategoriesContainer .allCategoriesCategoryNameTile:hover {
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        }

        .allCategoriesContainer .allCategoriesCategoryNameTile a {
            text-decoration: none;
            color: black;
        }

        .allCategoriesContainer .allCategoriesCategoryNameTile .allCategoriesCategoryNameTileP {
            font-size: 1.15em;
            font-weight: 600;
            margin: 8px;
        }

        .allCategoriesContainer .allCategoriesCategoryNameTile .allCategoriesCategoryNameTileUnderP {
            margin-bottom: 8px;
        }

        .allCategoriesContainer .allCategoriesCategoryNameTile .allCategoriesCategoryNameTileHoverTile {
            display: none;
            flex-direction: column;
            width: inherit;
            background-color: white;
            border-radius: 0px 0px 20px 20px;
            position: absolute;
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
        }

        .allCategoriesContainer .allCategoriesCategoryNameTile:hover > .allCategoriesCategoryNameTileHoverTile {
            display: flex;
        }

        .allCategoriesContainer .allCategoriesCategoryNameTile .allCategoriesCategoryNameTileHoverTile a {
            text-decoration: none;
            color: black;
            padding: 8px;
        }

            .allCategoriesContainer .allCategoriesCategoryNameTile .allCategoriesCategoryNameTileHoverTile a:last-child {
                margin-bottom: 16px;
            }

        .allCategoriesContainer .allCategoriesCategoryNameTile:hover .allCategoriesCategoryNameTileHoverTile a:hover {
            background-color: aliceblue;
        }

.allCategoriesHiddenAHref:hover {
    color: white;
    background-color: white !important;
    cursor: default;
    padding: 0;
    margin: 0;
}

.whyUs {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid lightgray;
}

.whyUsTileContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 16px;
}

.iconWhyUsResize {
    font-size: 4em !important;
    color: rgb(26, 111, 176);
}

.whyUsH3 {
    font-size: 1.5em;
    color: rgb(26, 111, 176);
}

.whyUsUnderH3 {
    font-size: 0.85em;
    color: rgb(119, 119, 119);
    margin-top: 4px;
    margin-bottom: 8px;
}

.whyUsText {
    font-size: 1em;
    color: rgb(119, 119, 119);
}

#quickBasketContainer {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 102;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.50);
    transition: 0.2s;
    transition-timing-function: ease-in;
}

#quickBasket {
    position: relative;
}

.quickBasketCircle {
    position: absolute;
    display: flex;
    width: 14px;
    align-items: center;
    justify-content: center;
    height: 14px;
    padding: 4px;
    color: white;
    border-radius: 20px;
    background-color: rgb(26, 111, 176);
    top: 0;
    right: 20px;
}

.quickBasketSmallContainer {
    width: 22%;
    background-color: white;
}

.iconFontResize {
    font-size: 1.75em !important;
}

.quickBasketSmallBox {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 16px;
}

.quickBasketMainTextH3 {
    font-size: 1.25em;
}

.quickBasketClose {
    text-decoration: none;
    color: #3396b6;
    cursor: pointer;
}

.quickBasketProductList {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
}

    .quickBasketProductList img {
        width: 25%;
        margin: 4px 8px 8px 8px;
        cursor: pointer;
    }

.quickBasketSmallBox:nth-child(2) {
    height: 65vh;
    align-items: flex-start;
    flex-direction: column;
    /*white-space: nowrap;*/
    overflow: scroll;
    margin-top: 4px;
    position: relative;
    overflow-x: hidden;
    border: 0;
}

.quickBasketScrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.quickBasketScrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.quickBasketScrollbar::-webkit-scrollbar-thumb {
    background-color: #3396b6;
}

.quickBasketProductListColumn {
    height: 20vh;
}

.quickBasketDeleteItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 32px;
    height: 32px;
    background-color: #3396b6;
    border-radius: 50%;
}

    .quickBasketDeleteItem:hover {
        background-color: #246a80;
    }

.quickBasketClose:hover {
    color: #246a80;
}

.quickBasketProductName {
    font-weight: 600;
}

.quickBasketProductQuantityBox {
    display: flex;
    flex-direction: row;
}

.quickBasketProductQuantityInStore {
    margin-left: 8px;
    color: green;
    white-space: nowrap;
}

.quickBasketSmallBox:nth-child(3) {
    flex-direction: column;
    border: 0;
    border-top: 1px solid black;
    margin-top: 4px;
}

.quickBasketSumBox {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.quickBasketSumText, .quickBasketSumPrice {
    font-size: 1.15em;
    font-weight: 600;
}

.quickBasketGoToCash {
    display: block;
    padding: 16px;
    background-color: #3396b6;
    border-radius: 40px;
    color: white;
    margin: 4px;
    text-decoration: none;
}

    .quickBasketGoToCash:hover {
        background-color: #246a80;
    }

.quickBasketGoToBasket:hover {
    background-color: #246a80;
    color: white;
    border: 2px solid #246a80;
}

.quickBasketGoToBasket {
    display: block;
    padding: 16px;
    border: 2px solid #3396b6;
    border-radius: 40px;
    color: #3396b6;
    margin: 4px;
    text-decoration: none;
}

.basketContainer {
    width: 80%;
    position: relative;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basketMainText {
    font-size: 1.5em;
}

.basketSmallContainer {
    width: 80%;
}

.basketProductList {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

    .basketProductList .cartItemPhoto {
        width: 15%;
        cursor: pointer;
    }

.basketProductListProperties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
    width: 30%;
}

.basketModelBox {
    display: flex;
    flex-direction: row;
}

.basketProductName {
    margin: 4px;
    font-size: 1.15em;
}

.basketModelText {
    color: grey;
    margin: 4px 4px 2px 4px;
}

.basketModelNumber {
    color: black;
    margin: 4px 4px 2px 4px;
}

.cartPriceColor {
    font-size: 1.05em;
    color: rgb(78, 84, 200);
    font-weight: 600;
    padding: 8px 4px 2px 4px;
}

.basketProductQuantity {
    display: flex;
    width: 35%;
    justify-content: flex-end;
    align-items: center;
}

.basketProductQuantityText {
    font-size: 1.1em;
    margin-right: 32px;
}

.basketProductQuantityInput {
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    width: 10%;
    border: 2px solid #246a80;
}

    .basketProductQuantityInput:focus {
        outline: none;
    }

.basketDeleteItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 40px;
    height: 40px;
    background-color: #3396b6;
    border-radius: 50%;
}

    .basketDeleteItem:hover {
        background-color: #246a80;
    }

.basketPromoCodeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basketCheckoutBox {
    width: 80%;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    flex-direction: column;
}

    .basketCheckoutBox:nth-child(2) {
        flex-direction: row;
        justify-content: space-between;
    }

.basketGoBackShopping {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

    .basketGoBackShopping:hover {
        color: grey;
    }

.basketCheckoutPriceText {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 1.5em;
}

.basketCheckoutTotalPrice {
    font-size: 1.5em;
    color: rgb(78, 84, 200);
    margin-bottom: 16px;
}

.basketCheckoutAdditionalInformationText {
    margin: 12px;
}

.basketCheckoutAdditionalInformationTextArea {
    width: 100%;
    height: 50%;
    resize: none;
}

.basketSmallContainer:nth-child(3) {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.basketSmallContainer:nth-child(2) {
    margin-top: 16px;
    height: 50vh;
}

.basketPromoCodeText {
    margin: 8px;
}

.basketPromoCodeInput {
    background-color: white !important;
    border: 2px solid lightblue !important;
}

    .basketPromoCodeInput:focus {
        border-color: #246a80 !important;
    }

.basketPromoCodeApplyButton {
    display: block;
    padding: 12px;
    background-color: #3396b6;
    margin: 12px 8px 12px 8px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.basketCheckoutOrderButton {
    display: block;
    padding: 12px;
    width: 50%;
    margin: 0 auto;
    border: 2px solid #3396b6;
    border-radius: 40px;
    color: #3396b6;
    text-decoration: none;
}

    .basketCheckoutOrderButton:hover {
        color: white;
        background-color: #246a80;
        border-color: #246a80;
    }

.basketPromoCodeApplyButton:hover {
    background-color: #246a80;
    border-color: #246a80;
}

.userPanelSwitchBox {
    width: 100%;
}

.activeUserPanel {
    display: block;
}

.resizeOverflow {
    height: 90% !important;
}

.scrollbarResize {
}

.userPanelContainer {
    width: 60%;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 32px;
}

    .userPanelContainer .userPanelOptionsBox {
        display: flex;
        flex-direction: column;
        width: 25%;
        border-right: 1px solid lightgrey;
    }

    .userPanelContainer .userPanelSmallContainer {
        width: 95% !important;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;
    }

    .userPanelContainer .userPanelUserOptions {
        display: flex;
        padding: 8px;
        width: 90%;
        text-decoration: none;
        color: black;
    }

    .userPanelContainer .userPanelAccountSettingsH1 {
        font-size: 1.25em;
        margin: 12px;
    }

    .userPanelContainer .userPanelAccountSettingsText {
        margin: 8px 0 8px 23px;
    }

    .userPanelContainer .userPanelOrdersSortBox {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

.userPanelPageBox {
    position: absolute;
    margin-right: 16px;
    bottom: 3%;
    right: 11%;
}

.userPanelContainer .userPanelUserOptions:hover {
    background-color: #3396b6;
    color: white;
    width: -webkit-fill-available;
}

.userPanelContainer .userPanelOrderItemBox {
    width: 90%;
    position: relative;
    border: 1px solid #246a80;
    border-radius: 10px;
    height: 30%;
    display: flex;
    margin: 8px auto;
    justify-content: center;
    align-items: center;
}

.hideBoxResize {
    height: 15% !important;
}

.hideProductImg {
    width: 8%;
    margin-right: 8px;
}

.productAvailabilityText {
    color: green;
}

.productLastPiecesText {
    color: orange;
}

.productOutOfStockText {
    color: red;
}

.userPanelContainer .userPanelOrdersOverflow {
    height: 70vh !important;
    overflow: scroll;
    overflow-x: hidden;
}

.userPanelSwitchBox .userPanelOrderDate {
    margin: 16px;
}

.userPanelOrderItemSmallBox img {
    width: 3vw;
}

.userPanelOrderItemBox .userPanelOrderMore {
    position: absolute;
    top: 0;
    display: flex;
    margin: 8px;
    cursor: pointer;
    right: 0;
}

.userPanelOrderMore ul {
    list-style-type: none;
    position: relative;
    width: 30%;
}

#userPanelInvoiceBox {
    display: none;
}

.threeDotsActive {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.userPanelOrderMore ul > li {
    position: absolute;
    top: 24px;
    right: 0;
}

.ibActive {
    display: flex;
}

.userPanelOrderMore .userPanelOrderMoreInvoice {
    padding: 16px;
    display: flex;
    align-items: center;
    width: 7vw;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

    .userPanelOrderMore .userPanelOrderMoreInvoice:hover {
        background-color: #3396b6;
        color: white;
    }

.userPanelContainer .userPanelOrderItemSmallBox:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    color: black;
    background-color: white;
    border: 0;
    border-top-right-radius: 10px;
    box-shadow: none;
    border-bottom-right-radius: 10px;
}

.userPanelContainer .userPanelOrderItemSmallBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    border: 1px solid #03a103;
    box-shadow: inset 0px 0px 32px rgba(0, 0, 0, 0.25);
    padding: 0px 12px 0px 24px;
    justify-content: center;
    background-color: slategray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.hideSmallBoxResize {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
    border: 0 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hideBoxColumn {
    display: flex;
    flex-direction: column !important;
    margin-left: 8px;
    margin-right: 8px;
}

.hideMarginText {
    margin-left: 8px;
    margin-right: 8px;
}

.userPanelOrderItemSmallBox:nth-child(1), .userPanelOrderStatusText {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.orderSummaryResizeForm {
    width: 100%;
}

.checkoutSmallContainerOrderResize {
    width: 80%;
}

.checkoutContainerOrderResize {
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.iconMargin {
    margin-right: 4px;
}

.iconResize {
    padding: 8px;
}

.userPanelContainer .userPanelUserOptionsText {
    padding: 12px 10px 12px 8px;
    display: flex;
    align-items: center;
    width: 100%;
}

.pASwitchBox {
    height: auto;
}

.pABox {
    display: flex;
    height: 100%;
    width: 100%;
}

    .pABox .pAAddCategoryForm {
        display: flex;
        flex-direction: column;
        margin: 12px;
    }

    .pABox .pAAddCategoryFormFormSmallBox {
        margin-top: 12px;
        position: relative;
        margin-right: 12px;
    }

    .pABox .pARadioUnderCategory {
    }

.underCategoryBox {
    height: 5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.categoryList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.pARadioUnderCategory .pAAddCategorySelect {
    margin-left: 8px;
}

.pAAddCategoryBttnMargin {
    margin-top: 40px !important;
}

.pAAddProductSelectCategory {
    margin: 8px 0 0 0;
}

#radioCatAb {
    margin-right: 16px;
}

.pAAddCategoryBttn {
    padding: 12px;
    margin: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #3396b6;
    color: white;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

    .pAAddCategoryBttn:hover {
        background-color: #246a80;
    }

    .pAAddCategoryBttn:last-child {
        background-color: white;
        border: 2px solid #3396b6;
        color: #3396b6;
        padding: 10px 24px 10px 24px;
    }

.disabledBttn, .disabledBttn:hover {
    cursor: default;
    pointer-events: none;
    background-color: lightgrey;
    border: 2px solid lightgrey;
    color: white;
    padding: 10px 24px 10px 24px;
}

.disabledAddToCartBttn {
    pointer-events: none !important;
    color: black !important;
    background-color: lightgray !important;
}

.pAAddCategoryBttn:last-child:hover {
    background-color: #246a80;
    border-color: #246a80;
    color: white;
}

.pAAddProductBox {
    display: flex;
    margin: 0 4px 4px 16px !important;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.pAAddCategoryLabel {
    width: 35%;
}

.pAAddCategoryMoreIcons {
    width: 100%;
    white-space: nowrap;
    font-size: 0.75em;
}

.pAAddProductDescriptionBox {
    display: flex;
    flex-direction: column;
    margin: 8px 8px 8px 16px !important;
    align-items: flex-start;
}

.pAAddProductForm {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.pAProductFindContainer {
    display: flex;
    width: 90%;
    margin: 8px auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.paAddProductDescriptionTextArea {
    width: 100%;
    margin: 8px 16px 8px 16px;
    height: 20vh;
    resize: none;
}

.promotionValueIconHelp {
    display: block;
    font-size: 1em !important;
    width: 11%;
    color: #3396b6;
    text-align: center;
}

    .promotionValueIconHelp:hover {
        color: black;
    }

.pAHelpDescription {
    display: none;
}

.promotionValueIconHelp:hover .pAHelpDescription {
    display: block !important;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    color: blue;
}

.pAPromotionValueBox {
    display: flex;
    width: 100%;
    align-items: center;
}

.saleValueColumn {
    display: flex;
    flex-direction: column;
}

.pAAddProductPromoValueLabel {
    margin-left: 8px !important;
}

.pAAddCategoryLabel {
    margin: 8px;
}

.pABoxColumn {
    height: auto;
    flex-direction: column;
    align-items: center;
}

.listToAddText {
    display: none;
}

.login-dont-have-account {
    margin-top: 8px;
}

.SpecInputs {
    flex-direction: column;
}

.bttnCenter {
    width: auto;
    justify-content: center;
}

.pAUserManagmentTable {
    margin: 0 auto;
    border-collapse: collapse;
    width: 95%;
    overflow: scroll;
    overflow-x: hidden;
    height: 40%;
}

.pAUserManagmentTableData .pAProductListTableImg {
    width: 2vw;
}

.pAUserManagmentTableData, .pAUserManagmentTableHeader {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 6px;
}


.pAProductListTableDescription {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    white-space: nowrap;
}

.overflowHidden {
    overflow: hidden !important;
}

.pAUserManagmentTableRow:nth-child(even) {
    background-color: #dddddd;
}

.pAProductTableOverflow {
    width: 100%;
    height: 20vh;
    overflow: auto;
    margin-bottom: 12px;
}

.pAUserManagmentTableRow .pAUserManagmentTableData:nth-child(2) {
    width: 24.5%;
}

.pAUserManagmentTableRow .pAUserManagmentTableData:nth-child(3) {
    width: 15%;
}

.pAUserManagmentTableRow .pAUserManagmentTableData:nth-child(4) {
    width: 15%;
}

.pAUserManagmentTableRow .pAUserManagmentTableData:nth-child(5) {
    width: 10%;
}

.pAUserManagmentTableRow .pAUserManagmentTableData:nth-child(6) {
    width: 20%;
}

.pAUserManagmentTableRow .pAUserManagmentTableData:nth-child(7) {
    width: 15%;
}

.pAUserManagmentTableHeader:nth-child(2) {
    width: 24.5%;
}

.pAUserManagmentTableHeader:nth-child(3) {
    width: 15%;
}

.pAUserManagmentTableHeader:nth-child(4) {
    width: 15%;
}

.pAUserManagmentTableHeader:nth-child(5) {
    width: 10%;
}

.pAUserManagmentTableHeader:nth-child(6) {
    width: 20%;
}

.pAUserManagmentTableHeader:nth-child(7) {
    width: 15%;
}

.pAUserManagmentTableHeader:first-child {
    width: 7%;
}

.pAUserManagmentTableHeader:last-child {
    padding-left: 70px;
}

.basketEmptyHidden {
    overflow: hidden !important;
    visibility: hidden !important;
}

.dataChanged {
    color: green;
}

.dataFailedChanged {
    color: red;
}

.changeEmailInfo {
    display: none;
}

.emailField {
    position: relative;
}

    .emailField:hover .changeEmailInfo {
        display: block;
        position: absolute;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        padding: 8px;
        left: 10%;
    }

.userDataFormResize {
    width: 100%;
}

.userDataPasswordField {
    width: 40% !important;
}

#basketEmpty {
    display: block;
}

.basketEmptyMessage {
    padding-top: 8px;
}

#basketHidden {
    overflow: scroll;
    overflow-x: hidden;
}

.quickBasketShortText {
    width: 5vw;
    text-wrap: normal;
    white-space: normal !important;
}

.changeOrderStateSelect {
    padding: 4px;
    margin: 4px 0 4px 0;
    background-color: lightgreen;
}

.orderFinished {
    background-color: lightgreen !important;
    color: black !important;
}

.orderNew {
    color: white !important;
}

.orderCanceled {
    background-color: yellow !important;
    color: black !important;
}

.changeOrderStateSelectBackColor {
    background-color: rgb(255, 139, 139) !important;
}

.hideProductContainer {
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.45);
}

.hideProductSmallContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

#HideProductExitButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.hideElement {
    display: none;
}

.mainFooter {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    border-top: 1px solid lightgray;
    padding-top: 24px;
}

.footerContainer {
    display: flex;
    justify-content: space-evenly;
}

.footerSmallContainer {
    display: flex;
    margin: 12px;
    flex-direction: column;
}

.footerTile {
    display: flex;
    flex-direction: column;
}

.footerSmallContainer:nth-child(2) {
    margin-top: 30px;
}

.footerH3 {
    margin-bottom: 8px;
}

.footerMainText {
    text-transform: uppercase;
    margin: 2px 0 2px 4px;
}

.footerText {
    color: rgb(119, 119, 119);
    margin: 2px;
}

.footerTile a {
    text-decoration: none;
    color: black;
    margin-left: 4px;
}

.footerBottom {
    border-top: 1px solid lightgray;
    padding: 16px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyrightText {
    font-size: 0.8em;
}

.imgSocialMedia {
    width: 24px;
    cursor: pointer;
    margin: 0 8px 0 8px;
    filter: grayscale(100%);
}

    .imgSocialMedia:hover {
        filter: grayscale(0%);
    }

.showHiddenProductListA {
    text-decoration: none;
    color: black;
    margin-top: 32px;
}

.loader {
    border: 16px solid rgba(243, 243, 243, 0);
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 35%;
    left: 43%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-container {
    background-color: rgba(0,0,0, 0.25);
    width: 70%;
    height: 70%;
    position: absolute;
}

.mobNav {
    display: none;
}

.mobSearch, .catMobMenu {
    cursor: pointer;
}

.allCategoriesContainer {
    margin-top: 32px;
}

.panelBox {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.ddArrowIcon {
    display: none !important;
    width: 40px;
    height: 40px;
}

.panelTabs {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#categoryddl, #categorytoeditddl,
#categorytomoveddl, #specificationddl, #Manufacturer_Id,
#Product_ManufacturerId, #Product_CategoryId, .changeOrderStateSelect {
    padding: 8px;
    margin: 8px;
    border: 2px solid white;
    border-color: #f6f6f6;
    border-radius: 6px;
    background-color: #f6f6f6;
}

    #specificationddl option {
        padding: 8px;
    }

@media screen and (max-width: 1200px) {
    .mainNav {
        display: none;
    }

    .user-panel-box {
        padding: 8px;
    }
    .textAreaResize {
        align-items: center;
    }
    .mobNav {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 3em;
    }

    .header-box:nth-child(2) {
        width: 100vw;
    }

    .register-container {
        width: auto;
        justify-content: center;
    }

    .register-account .register-inline {
        flex-direction: column;
        align-items: center;
    }

        .register-account .register-inline:nth-child(8) {
            flex-direction: row !important;
            width: 80%;
            justify-content: center;
            align-items: center;
        }

    .register-container .register-container-box-right {
        width: auto;
    }

    .register-container input[type="password"], input[type="text"], input[type="email"] {
        width: 25%;
    }
    .h3Checkout {
        font-size: 1em;
    }

    .pAAddCategoryMoreIcons {
        text-align: center;
        font-size: 0.85em;
    }

    .paAddProductDescriptionTextArea {
        width: 80%;
    }

    .mobNav .user-panel-box:hover {
        background-color: none;
        border-radius: 0 !important;
    }

    .header-box .site-logo {
        margin-left: 24px;
    }

    .user-panel-box {
        width: auto;
    }

    .header-box .search-box {
        position: absolute;
        top: 4em;
        left: 0;
        display: none;
    }

    #topSearchBarInput {
        width: 100% !important;
        border-radius: 0 !important;
    }

    .search-box .topSearchBarBttn {
        border-radius: 0 !important;
        width: 50px !important;
        right: 0 !important;
    }

    .ui-autocomplete {
        position: absolute;
        top: 6em !important;
        left: 0 !important;
        cursor: default;
    }

    .user-panel-box .userPanelBoxUserOption:last-child {
        padding: 8px;
    }

    .user-panel-box:hover:nth-child(1) {
        border-radius: 8px 8px 0 0;
    }

    .user-panel-box ul {
        border-radius: 8px 0 0 8px;
        position: absolute;
        right: 0;
        width: 25vw;
    }

    .header-box .user-panel-box:hover ul > li {
        display: block;
    }

        .header-box .user-panel-box:hover ul > li:last-child {
            margin-bottom: 8px;
        }

    .userPanelBoxUserOption {
        text-align: left;
    }

    .userPanelListUserOption {
        display: flex;
        flex-direction: row;
    }

    .user-panel-box ul > li:nth-child(n+2) {
        margin: 0;
    }

    .user-panel-box ul > li .user-panel-button {
        margin-top: 8px;
    }

        .user-panel-box ul > li .user-panel-button:hover {
            background-color: #669BF3;
        }

    .indexPageBigHeader {
        width: 95vw;
        justify-content: center;
        align-items: center;
    }

        .indexPageBigHeader img {
            margin-top: 16px;
            width: 75%;
        }

    .indexPageBigHeaderH1, .indexPageBigHeaderH1Description {
        width: 100vw;
        text-align: center;
        margin: 8px;
    }

    .indexPageBigHeader:hover .indexPageBigHeaderArrows {
        display: none;
        visibility: hidden;
    }

    .indexPageBigHeader .arrow-right-header, .arrow-left-header {
        display: none;
    }

    .stickyMenuMainContainerPush {
        padding-top: 50px;
    }

    .nav-container {
        display: none;
    }

    .indexPageTrendingProducts {
        width: 100%;
    }

    .trendingProductsContainer {
        width: 90%;
        align-items: center;
    }

    .product-container {
        width: 30%;
    }

        .product-container img {
            width: 100%;
        }

        .product-container .product-name {
            font-size: 1.05em;
        }

        .product-container .product-model {
            font-size: 1em;
        }

        .product-container .product-types .product-type {
            font-size: 0.95em;
        }

        .product-container .product-container-bottom .product-price {
            margin: 8px;
            font-size: 1.15em;
            display: block;
            height: 30px;
        }

        .product-container .product-container-bottom .productAddToCart {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
        }

            .product-container .product-container-bottom .productAddToCart .productAddToCartIcon {
                font-size: 1em;
            }

    .whyUs, .mainFooter {
        width: 90%;
    }

    .footerContainer {
        flex-direction: column;
    }

    .socialMediaContainer {
        display: flex;
        flex-direction: row;
    }

    .login-account-container {
        width: 30%;
    }

        .login-account-container input[type="text"], input[type="password"] {
            font-size: 1em;
        }

    .product-list .popular-products-in-category-inline {
        align-items: center;
    }

    .product-list .popular-products-in-category h1 {
        font-size: 1.75em;
        margin-top: 24px;
    }

    .basketContainer, .basketSmallContainer {
        width: 95%;
    }

    .basketProductList {
        align-items: center;
    }

        .basketProductList .cartItemPhoto {
            width: 35%;
            height: 25%;
        }

    .basketProductListProperties {
        margin-left: 16px;
    }

    .basketProductQuantity {
        justify-content: center;
        margin: 0 24px 0 24px;
    }

    .basketProductQuantityText {
        text-align: center;
        font-size: 1em;
        margin: 4px 8px 4px 0;
    }

    .basketSmallContainer:nth-child(2) {
        height: 70vh !important;
    }

    .buttonSubmit {
        width: 25%;
        padding: 12px 0;
    }

    .product-detail-info {
        order: 0 !important;
    }

    .product-detail-container {
        flex-direction: column;
        align-items: center;
    }

        .product-detail-container .product-detail-photo .product-detail-main-photo {
            display: flex;
            justify-content: center;
        }

            .product-detail-container .product-detail-photo .product-detail-main-photo img {
                width: 50%;
            }

        .product-detail-container .product-detail-photo .product-detail-photos {
            width: 25%;
        }

        .product-detail-container .product-detail-photo .product-detail--photo img {
            width: 60% !important;
        }

    .product-detail-photos-container {
        width: 60%;
        margin: 0 auto;
    }

    .product-detail-container .product-detail-info h1 {
        font-size: 1.75em !important;
    }

    .product-detail-container .product-detail-info .product-detail-info-manufacturer-details p {
        font-size: 1em;
    }

    .product-detail-info-manufacturer-details .productDetailsManufacturerImg {
        width: 8vw;
    }

    .product-detail--photo {
        width: 20vw !important;
    }

    .product-detail-container .product-detail-info-extend {
        width: 80%;
    }

        .product-detail-container .product-detail-info-extend:last-child {
            width: 100% !important;
        }

        .product-detail-container .product-detail-info-extend h3 {
            font-size: 1.25em;
        }

        .product-detail-container .product-detail-info-extend .product-detail-add-to-cart input[type=number] {
            width: 5vw;
        }

        .product-detail-container .product-detail-info-extend .product-detail-info-extend-quantity-details p {
            font-size: 1em;
        }

    .product-information--container .break-line h1 {
        font-size: 1.5em;
    }

    .product-information--container .break-line {
        width: 90%;
    }

    .product-information--container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .allCategories h1, h2 {
        font-size: 1.25em;
    }

    .allCategoriesContainer .allCategoriesGrid {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allCategoriesContainer .allCategoriesCategoryNameTile {
        width: 50%;
    }

        .allCategoriesContainer .allCategoriesCategoryNameTile .allCategoriesCategoryNameTileHoverTile {
            width: 45%;
        }

    .userPanelContainer {
        width: 95%;
        flex-direction: column;
    }

        .userPanelContainer .userPanelOptionsBox {
            border: 0;
            width: 100%;
        }

    .ddArrowIcon {
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .panelTabs {
        display: none;
    }

    .userPanelContainer .userPanelOrdersOverflow {
        height: 80vh !important;
        width: 95vw;
    }

    .userPanelContainer .userPanelOrderItemBox {
        width: 95%;
        height: 30%;
    }

    .userPanelContainer .userPanelOrderItemSmallBox {
        width: 60%;
    }

    .checkoutInputLabel {
        width: 50%;
        white-space: unset;
    }

    .checkoutInputInline {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .grid-bttn-container {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    #ProductPhotosToUpload, #Product_CategoryId, #ManufacturerLogo, .checkoutInputInline h3 {
        margin: 8px 0 8px 0;
    }

    .checkoutForm {
        width: 100%;
    }

    .checkoutDeliveryBox {
        width: 100%;
    }

    .checkoutDeliverySmallBox {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

        .checkoutDeliverySmallBox img {
            width: 10vw;
        }
}

@media screen and (max-width: 1024px) {
    .user-panel-box ul {
        width: 30vw;
    }

    .indexPageBigHeaderH1, .indexPageBigHeaderH1Description {
        width: auto;
    }
    .textAreaResize {
        align-items: center;
    }
    .product-container {
        width: 40%;
    }
    .buttonSubmit {
        width: 40%;
    }

    .product-detail-container .product-detail-info-extend:last-child {
        width: 50vw !important;
    }
    .register-container input[type="password"], input[type="text"], input[type="email"] {
        width: 70%;
    }
    .login-account-container input[type="text"], input[type="password"] {
        width: 40%;
    }
    .login-account-container {
        width: 40%;
    }
}
@media screen and (max-width: 768px) {
    .product-detail-container .product-detail-info-extend-container {
        flex-direction: column;
    }
    .productDetailsManufacturerImg {
        width: 12vw !important;
    }
    .textAreaResize {
        align-items: center;
    }
    .indexPageBigHeader {
        height: 60vh;
        flex-direction: column;
    }
    .slideMessage {
        width: 60vw !important;
        left: 20% !important;
        height: 10vw !important;
    }
    .whyUs {
        flex-direction: column;
    }
    .product-container-inline {
        flex-direction: column;
        align-items: center;
    }
    .product-container {
        width: 60%;
    }
}
@media screen and (max-width: 480px) {
    .user-panel-box ul {
        width: 50vw;
    }
    .slideMessage {
        width: 80vw !important;
        left: 10% !important;
        height: 13vw !important;
    }
    .textAreaResize {
        align-items: center;
    }
    .nav-container ul > li > .nav-category-container > ol > li:hover > .nav-category-container {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 8px 2px 8px rgb(0 0 0 / 25%);
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .product-container {
        width: 70%;
    }

    .buttonSubmit {
        width: 40%;
    }

    .product-detail-container .product-detail-info-extend:last-child {
        width: 50vw !important;
    }

    .register-container input[type="password"], input[type="text"], input[type="email"] {
        width: 70%;
    }

    .login-account-container input[type="text"], input[type="password"] {
        width: 40%;
    }

    .login-account-container {
        width: 60%;
    }
    .indexPageBigHeader {
        height: 60vh;
        flex-direction: column;
    }
    .whyUs {
        flex-direction: column;
    }
    .product-detail-info {
        order: 0 !important;
    }

    .product-detail-container {
        flex-direction: column;
        align-items: center;
    }
        .product-detail-container .product-detail-info-extend:last-child {
            width: 60vw !important;
        }
        .product-detail-container .product-detail-info-extend-container {
            flex-direction: column;
        }
}