﻿@model IEnumerable<DotNetShop.DAL.Model.Category>
@{
    ViewData["Title"] = "Default";
}

<ul>
    @foreach (var category in Model.Where(x => x.ParentCategoryId == null))
    {
        <li>
            <a href="@Url.Action("List", "Store", new { categoryId = category.Id })">
                <p class="category-name">@category.Name</p>
                <span class="material-icons mainCategoryNavIcon">@category.CategoryIconName</span>
            </a>
            <div class="nav-category-container">
                <span class="nav-category-name-after-hover">
                    @category.Name
                    <a href="@Url.Action("AllCategories", "Store", new { mainCategoryId = category.Id })">Wszystkie</a>
                </span>
                @foreach (var mainSubCategory in Model.Where(y => y.ParentCategoryId == category.Id))
                {
                    <ol>
                        <li>
                            <a href="@Url.Action("List", "Store", new { categoryId = mainSubCategory.Id })">
                                @mainSubCategory.Name
                                <span class="material-icons nav-arrow-right">chevron_right</span>
                            </a>
                            <div class="nav-category-container">
                                <span class="nav-category-name-after-hover">
                                    @mainSubCategory.Name
                                    <a href="@Url.Action("List", "Store", new { categoryId = mainSubCategory.Id })">Wszystkie</a>
                                </span>
                                <ol>
                                    @foreach (var subCategory in Model.Where(z => z.ParentCategoryId == mainSubCategory.Id).DefaultIfEmpty(null))
                                    {
                                        <li>
                                            @if (subCategory == null)
                                            {
                                                <a href="@Url.Action("List", "Store", new { categoryId = mainSubCategory.Id })" class="navCategoryShowProductsA">Pokaż produkty</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("List", "Store", new { categoryId = subCategory.Id })">
                                                    @subCategory.Name
                                                </a>
                                            }
                                        </li>
                                    }
                                </ol>
                            </div>
                        </li>
                    </ol>
                }
            </div>
        </li>
    }

</ul>
