﻿@model ForgotPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="login-account-container">
    @using (Html.BeginForm("ForgotPassword", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("loginerror", "")
        <h1 class="login-account-text">Przypomnij hasło</h1>
        <div class="quickBasketSumBox basketPromoCodeBox">
            @Html.LabelFor(l => l.Email, "Adres Email:")
            @Html.TextBoxFor(l => l.Email)
        </div>
        <div class="login-validation-text">
            @Html.ValidationMessageFor(l => l.Email)
        </div>
        <div asp-validation-summary="ModelOnly" class="login-validation-text"></div>
        <p class="login-forgot-password">Nie masz konta? <a href="@Url.Action("Register")">Załóż nowe konto</a></p>
        <button type="submit" class="buttonSubmit">Wyślij</button>

    }
</div>
@section ScriptsBottom {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
} 