﻿@model LoginViewModel
@{
    ViewData["Title"] = "Zaloguj się";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="login-account-container">
    @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("loginerror", "")
        <h1 class="login-account-text">Zaloguj się</h1>
        <div class="quickBasketSumBox basketPromoCodeBox">
            @Html.LabelFor(l => l.Email, "Adres Email:")
            @Html.TextBoxFor(l => l.Email)
        </div>
        <div class="login-validation-text">
            @Html.ValidationMessageFor(l => l.Email)
        </div>
        <div class="quickBasketSumBox basketPromoCodeBox">
            @Html.LabelFor(l => l.Password, "Hasło:")
            @Html.PasswordFor(l => l.Password)
        </div>
        <div class="login-validation-text">
            @Html.ValidationMessageFor(l => l.Password)
        </div>

        <div class="nav-arrow-right">
            @Html.LabelFor(l => l.RememberMe, "Pamiętaj mnie")
            @Html.CheckBoxFor(l => l.RememberMe)
        </div>
        <div asp-validation-summary="ModelOnly" class="login-validation-text"></div>
        <a href="@Url.Action("ForgotPassword")" class="login-forgot-password">Nie pamiętasz hasła?</a>
        <p class="login-forgot-password">Nie masz konta? <a href="@Url.Action("Register")">Załóż nowe konto</a></p>
        <button type="submit" class="buttonSubmit">Zaloguj się</button>

    }
</div>
@section ScriptsBottom {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
