﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Rejestracja użytkownika";
    Layout = "_MainLayout";
}
<div class="register-container">
    @*<div class="register-container-box register-image">
            <div class="register-left-box">
                <i class="icon-doc"></i>
                <label>Sprawdzaj historie zamówień</label>
            </div>
            <div class="register-left-box">
                <i class="icon-search"></i>
                <label>Śledź swoje zamówienia</label>
            </div>
            <div class="register-left-box">
                <i class="icon-tag"></i>
                <label>Korzystaj ze zniżek i kuponów</label>
            </div>
        </div>
        <div class="line-break"></div>*@
    @using (Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("registererror", "")
        <div class="register-container-box-right">
            <div class="register-account">
                <label class="register-account-text">Stwórz konto</label>
                <div class="register-inline">
                    @Html.TextBoxFor(r => r.FirstName, new { @placeholder = "Imię" })
                    @Html.TextBoxFor(r => r.LastName, new { @placeholder = "Nazwisko" })
                </div>
                <div class="register-inline login-validation-text" style="justify-content: space-around;">
                    @Html.ValidationMessageFor(l => l.FirstName)
                    @Html.ValidationMessageFor(l => l.LastName)
                </div>
                <div class="register-inline">
                    @Html.TextBoxFor(r => r.UserName, new { @placeholder = "Nazwa użytkownika (opcjonalnie)" })
                    @Html.ValidationMessageFor(l => l.UserName)
                </div>
                <div class="register-inline">
                    @Html.PasswordFor(r => r.Password, new { @placeholder = "Hasło" })
                    @Html.PasswordFor(r => r.ConfirmPassword, new { @placeholder = "Powtórz hasło" })
                </div>
                <div class="register-inline login-validation-text" style="justify-content: space-around;">
                    @Html.ValidationMessageFor(l => l.Password)
                    @Html.ValidationMessageFor(l => l.ConfirmPassword)
                </div>
                <div class="register-inline">
                    @Html.TextBoxFor(r => r.Email, new { @placeholder = "Adres e-mail" })
                </div>
                <div class="register-inline login-validation-text" style="justify-content: space-around;">
                    @Html.ValidationMessageFor(l => l.Email)
                </div>

                <div class="register-inline">
                    @Html.CheckBoxFor(c => c.ConfirmTerms)
                    @Html.LabelFor(c => c.ConfirmTerms, "Utworzenie konta oznacza, że ​​zgadzasz się z naszymi Warunkami korzystania z usługi, Polityką prywatności i domyślnymi ustawieniami powiadomień.", new { @class = "register-terms-text" })
                </div>
                <div asp-validation-summary="All" class="login-validation-text"></div>
                <div class="checkoutInputInline bttnCenter pABoxColumn">
                    <button type="submit" class="buttonSubmit">Załóż konto</button>
                    <p class="login-dont-have-account">Masz już konto? <a href="@Url.Action("Login")">Zaloguj się</a></p>
                </div>
            </div>
        </div>
    }
</div>
@section ScriptsBottom {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
} 