﻿@model ResetPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="login-account-container">
    @using (Html.BeginForm("ResetPassword", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("loginerror", "")
        @Html.HiddenFor(o => o.UserId);
        @Html.HiddenFor(o => o.Token);
        <h1 class="login-account-text">Zresetuj hasło</h1>
        <div class="quickBasketSumBox basketPromoCodeBox">
            @Html.LabelFor(l => l.Password, "Hasło:")
            @Html.PasswordFor(l => l.Password)
        </div>
        <div class="quickBasketSumBox basketPromoCodeBox">
            @Html.LabelFor(l => l.ConfirmPassword, "Powtórz hasło:")
            @Html.PasswordFor(l => l.ConfirmPassword)
        </div>
        <div class="login-validation-text">
            @Html.ValidationMessageFor(l => l.Password)
            @Html.ValidationMessageFor(l => l.ConfirmPassword)
        </div>
        <div asp-validation-summary="ModelOnly" class="login-validation-text"></div>
        <button type="submit" class="buttonSubmit">Zmień hasło</button>

    }
</div>
@section ScriptsBottom {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
} 