﻿@model HomeViewModel
@{
    ViewData["Title"] = "Strona główna";
}
<partial name="_slideMessage" />
<div id="indexPageFlexColumn">
    <header class="indexPageBigHeader">
        <div class="indexPageBigHeaderArrows"><span class="material-icons arrow-left-header">chevron_left</span></div>
        <div class="indexPageBigHeaderSmallContainer">
            <h1 class="indexPageBigHeaderH1">Witaj w miCOM!</h1>
            <p class="indexPageBigHeaderH1Description">zapraszamy do składania zamówień!</p>
        </div>
        <div class="indexPageBigHeaderSmallContainer">
            <img src="~/img/header-tv.png" class="indexPageBigHeaderImg" />
        </div>
        <div class="indexPageBigHeaderArrows"><span class="material-icons arrow-right-header">chevron_right</span></div>
    </header>

    <section class="indexPageTrendingProducts">
        <div class="trendingProductsContainer">
            <h2 class="trendingProductsH2">Wszystkie produkty</h2>
            <a href="#" class="trendingProductsShowMore">Pokaż więcej <span class="material-icons">chevron_right</span></a>
        </div>
        <div class="product-list indexProductPromoCenter">
            <div class="product-container-inline indexProductPromoCenterInline">
                @foreach (var products in Model.Products)
                {
                    <div class="product-container" onclick="window.location='@Url.Action("Details", "Store", new { id = products.Id })'">
                        <div class="product-photo">
                            <img src="@products.ProductsGalleries.FirstOrDefault().PhotoUrl" />
                        </div>
                        <p class="product-name">@products.Name</p>
                        <p class="product-model">@products.Model</p>
                        @*<span class="product-opinion">***--- (0)</span>*@
                        <div class="product-types">
                            @foreach (var item in Model.Products.Where(x => x.Id == products.Id).FirstOrDefault().ProductsSpecValues.Take(4))
                            {
                                <div class="product-type-inline"><p class="product-type-specname">@item.Specification.SpecName:</p><p class="product-type-specvalue">@item.SpecValue</p></div>
                            }
                        </div>
                        <div class="product-container-bottom">
                            <p class="product-price">@products.Price zł</p>
                            <a href="@Url.Action("AddToCart","Cart", new { id = products.Id })" class="productAddToCart"><span class="material-icons productAddToCartIcon">shopping_cart</span></a>
                        </div>
                    </div>
                }
            </div>
        </div>
        @*<div class="limitedOfferContainer">
                <div class="limitedOfferSmallContainer">
                    <div class="limitedOfferText">
                        <p class="limitedOfferRedText">Oferta limitowana</p>
                        <p class="limitedOfferAboveH3">Nowy</p>
                        <h3 class="limitedOfferH3">Telewizor Samsung 32 cale</h3>
                        <p class="limitedOfferAboveH3">w fenomenalnej przecenie!</p>
                        <div class="limitedOfferTime">
                            <p class="limitedOfferHours">02</p>
                            <p class="limitedOfferHoursText">h</p>
                            <p class="limitedOfferHours">24</p>
                            <p class="limitedOfferHoursText">m</p>
                            <p class="limitedOfferHours">42</p>
                            <p class="limitedOfferHoursText">s</p>
                        </div>
                        <a href="#" class="limitedOfferCheckA">Sprawdź teraz <i class="icon-right-open limitedOfferRightArrow"></i></a>

                        <div class="limitedOfferPromoPriceBox">
                            <p class="limitedOfferPromoPrice">2199 zł</p>
                            <p class="limitedOfferPromoPrice">2099 zł</p>
                        </div>
                    </div>
                </div>
                <div class="limitedOfferSmallContainer">
                    <img src="~/img/header-tv.png" />
                </div>
            </div>*@
    </section>
    <section class="topProductBuys">
        <div class="trendingProductsContainer">
            <h2 class="trendingProductsH2">Najczęściej kupowane produkty</h2>
        </div>
        <div class="product-list indexProductPromoCenter">
            <div class="product-container-inline indexProductPromoCenterInline">
                @foreach (var topBoughtProducts in Model.TopProductBuys)
                {
                    <div class="product-container" onclick="window.location='@Url.Action("Details", "Store", new { id = topBoughtProducts.Id })'">
                        <div class="product-photo">
                            <img src="@topBoughtProducts.ProductsGalleries.FirstOrDefault().PhotoUrl" />
                        </div>
                        <p class="product-name">@topBoughtProducts.Name</p>
                        <p class="product-model">@topBoughtProducts.Model</p>
                        @*<span class="product-opinion">***--- (0)</span>*@
                        <div class="product-types">
                            @foreach (var item in Model.TopProductBuys.Where(x => x.Id == topBoughtProducts.Id).FirstOrDefault().ProductsSpecValues.Take(4))
                            {
                                <div class="product-type-inline"><p class="product-type-specname">@item.Specification.SpecName:</p><p class="product-type-specvalue">@item.SpecValue</p></div>
                            }
                        </div>
                        <div class="product-container-bottom">
                            <p class="product-price">@topBoughtProducts.Price zł</p>
                            <a href="@Url.Action("AddToCart","Cart", new { id = topBoughtProducts.Id })" class="productAddToCart"><span class="material-icons productAddToCartIcon">shopping_cart</span></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <section class="lastBuys">
        <div class="trendingProductsContainer">
            <h2 class="trendingProductsH2">Ostatnio kupione</h2>
        </div>
        <div class="product-list indexProductPromoCenter">
            <div class="product-container-inline indexProductPromoCenterInline">
                @foreach (var lastBoughtProducts in Model.LastProductBuys)
                {
                    <div class="product-container" onclick="window.location='@Url.Action("Details", "Store", new { id = lastBoughtProducts.Id })'">
                        <div class="product-photo">
                            <img src="@lastBoughtProducts.ProductsGalleries.FirstOrDefault().PhotoUrl" />
                        </div>
                        <p class="product-name">@lastBoughtProducts.Name</p>
                        <p class="product-model">@lastBoughtProducts.Model</p>
                        @*<span class="product-opinion">***--- (0)</span>*@
                        <div class="product-types">
                            @foreach (var item in Model.LastProductBuys.Where(x => x.Id == lastBoughtProducts.Id).FirstOrDefault().ProductsSpecValues.Take(4))
                            {
                                <div class="product-type-inline"><p class="product-type-specname">@item.Specification.SpecName:</p><p class="product-type-specvalue">@item.SpecValue</p></div>
                            }
                        </div>
                        <div class="product-container-bottom">
                            <p class="product-price">@lastBoughtProducts.Price zł</p>
                            <a href="@Url.Action("AddToCart","Cart", new { id = lastBoughtProducts.Id })" class="productAddToCart"><span class="material-icons productAddToCartIcon">shopping_cart</span></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <section class="whyUs">
        <div class="whyUsTileContent">
            <span class="material-icons-outlined iconWhyUsResize">support_agent</span>
            <h3 class="whyUsH3">Obsługa klienta</h3>
            <p class="whyUsUnderH3">Potrzebujesz pomocy?</p>
            <p class="whyUsText">Czy Twoje zamówienie zostało zrealizowane?</p>
            <p class="whyUsText">Czy otrzymaliśmy Twoją wpłatę?</p>
            <p class="whyUsText">A może masz jakies inne pytania?</p>
            <p class="whyUsText">Chętnie pomożemy</p>
        </div>
        <div class="whyUsTileContent">
            <span class="material-icons-outlined iconWhyUsResize">undo</span>
            <h3 class="whyUsH3">Darmowe zwroty</h3>
            <p class="whyUsUnderH3">Łatwo i przyjemnie</p>
            <p class="whyUsText">Nie trafiony prezent?</p>
            <p class="whyUsText">Nie jesteś zadowolony z produktu?</p>
            <p class="whyUsText">Masz prawo do 14 dni na zwrot produktu</p>
            <p class="whyUsText">Kosztami zajmiemy się my</p>
        </div>
        <div class="whyUsTileContent">
            <span class="material-icons-outlined iconWhyUsResize">airport_shuttle</span>
            <h3 class="whyUsH3">Darmowa dostawa</h3>
            <p class="whyUsUnderH3">Za zamówienia powyżej 1000 zł</p>
            <p class="whyUsText">Oferujemy darmową dostawę</p>
            <p class="whyUsText">przy zamówieniach</p>
            <p class="whyUsText">powyżej 1000 zł</p>
            <p class="whyUsText">Nie czekaj, sprawdź!</p>
        </div>
    </section>
</div>