﻿<div class="product-filters-container">
    <div class="product-filter-actual-category">
        <a href="#">cofnij do poprzedniej kategorii</a>
        <a href="#">Laptopy 3 w 1 (111)</a>
    </div>

    <div class="product-filter">
        <h1>Filtry</h1>
        <div class="filters-container">
            <h6>Producent</h6>
            <a href="#"><input type="checkbox" /> Dell (11)</a>
            <a href="#"><input type="checkbox" /> HP (5)</a>
            <a href="#"><input type="checkbox" /> Microsoft (8)</a>
            <a href="#"><input type="checkbox" /> Acer (15)</a>
        </div>
        <div class="filters-container">
            <h6>Cena</h6>
            <span class="filter-price">
                <input type="text" placeholder="od" /> - <input type="text" placeholder="do" />
            </span>
        </div>
    </div>
</div>