﻿@model DotNetShop.Models.StoreViewModel

<div class="product-list">
    <div class="popular-products-in-category">
        <h1>Polecane w kategorii</h1>
        <div class="popular-products-in-category-inline">
            @foreach (var popularProduct in Model.PopularProducts.Where(x => x.IsHidden == false))
            {
                <div class="product-container" onclick="window.location='@Url.Action("Details", "Store", new { id = popularProduct.Id })'">
                    <div class="product-photo">
                        <img src="@popularProduct.ProductsGalleries.FirstOrDefault().PhotoUrl" />
                    </div>
                    <p class="product-name">@popularProduct.Name</p>
                    <p class="product-model">@popularProduct.Model</p>
                    <div class="product-container-bottom product-container-bottom-position">
                        <p class="product-price">@popularProduct.Price zł</p>
                        <a href="@Url.Action("AddToCart","Cart", new { id = popularProduct.Id })" class="productAddToCart"><span class="material-icons productAddToCartIcon">shopping_cart</span></a>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Sortowanie produktu i przełączanie stron -->
    <div class="product-sort-container">
        @*<div class="product-sort-like">
            <label>Sortuj </label>
            <select>
                <option value="malej">Malejąco</option>
                <option value="rosn">Rosnąco</option>
                <option value="ilosc">Ilość</option>
            </select>
        </div>
        <div class="product-sort-page">
            <a href="#"><i class="icon-left-open"></i></a>
            <input type="text" placeholder="1" />
            <p class="product-sort-page-max">z 33</p>
            <a href="#"><i class="icon-right-open"></i></a>
        </div>*@
    </div>
    <!--[KONIEC] Sortowanie produktu i przełączanie stron -->

    <div class="product-container-inline">
        @foreach (var products in Model.Products.Where(x => x.IsHidden == false))
        {
            <div class="product-container" onclick="window.location='@Url.Action("Details", "Store", new { id = products.Id })'">
                <div class="product-photo">
                    <img src="@products.ProductsGalleries.FirstOrDefault().PhotoUrl" />
                </div>
                <p class="product-name">@products.Name</p>
                <p class="product-model">@products.Model</p>
                <div class="product-types">
                    @foreach (var item in Model.Products.Where(x => x.Id == products.Id).FirstOrDefault().ProductsSpecValues.Take(4))
                    {
                    <div class="product-type-inline"><p class="product-type-specname">@item.Specification.SpecName:</p><p class="product-type-specvalue">@item.SpecValue</p></div>
                    }
                </div>
                <div class="product-container-bottom">
                    <p class="product-price">@products.Price zł</p>
                    <a href="@Url.Action("AddToCart","Cart", new { id = products.Id })" class="productAddToCart"><span class="material-icons productAddToCartIcon">shopping_cart</span></a>
                </div>
            </div>
        }
    </div>
</div>