﻿
@model DotNetShop.Models.CategoriesViewModel
@{
    ViewData["Title"] = "AllCategories";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="allCategoriesContainer">
    @foreach (var allMainCategories in Model.ActualCategory)
    {
        <h1>Wszystkie kategorie</h1>
        <h2>w @allMainCategories.Name</h2>

        <div class="allCategoriesGrid">
            @foreach (var subCategories in Model.ActualParentCategory.Where(z => z.ParentCategoryId == allMainCategories.Id))
            {

                <div class="allCategoriesCategoryNameTile">
                    <a href="#">
                        <img src="~/img/prod-1.jpg" />
                        <p class="allCategoriesCategoryNameTileP">
                            @subCategories.Name (@Model.CountProductOnSubCategory)
                        </p>
                        @if (Model.CountSubCategories > 0)
                        {
                            <p class="allCategoriesCategoryNameTileUnderP">
                                @Model.CountSubCategories podkategorii
                            </p>
                        }
                        else
                        {
                            <p class="allCategoriesCategoryNameTileUnderP">sss</p>
                        }

                    </a>
                    <div class="allCategoriesCategoryNameTileHoverTile">
                        @foreach (var subSubCategories in Model.ActualParentSubCategory.Where(t => t.ParentCategoryId == subCategories.Id).DefaultIfEmpty(null))
                        {
                            @if (subSubCategories != null)
                            {

                                <a href="@Url.Action("List", "Store", new { categoryname = subSubCategories.Name.ToLower() })">@subSubCategories.Name (@Model.CountProductOnSubCategory)</a>
                            }
                            else
                            {
                                <a href="#" class="allCategoriesHiddenAHref"></a>
                            }
                        }
                    </div>
                </div>
            }
        </div>

    }
</div>
