﻿@model DotNetShop.DAL.Model.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@*@section Summernote {
    <link href="~/css/summernote-lite.min.css" rel="stylesheet">
    <script src="~/js/summernote-lite.js"></script>
}*@
<div class="fl-column">
    <div class="product-detail-container">
        <div class="product-detail-info">
            @if (ViewBag.UserIsAdmin)
            {
                <a href="@Url.Action("AddProduct", "Manage", new { productId = Model.Id })" class="productEditLink">Edytuj produkt</a>
            }
            <h1>@Model.Name</h1>
            <div class="product-detail-info-manufacturer-details">
                <p>Producent: <img src="@Model.Manufacturer.ManufacturerLogoPath" class="productDetailsManufacturerImg" alt="@Model.Manufacturer.Name" /></p>
                <p>|</p>
                <p>Model: @Model.Model</p>
            </div>
            <div class="product-detail-info-extend-container">
                <div class="product-detail-info-extend">
                    @foreach (var item in Model.ProductsSpecValues.Take(4))
                    {
                        <p class="product-quick-spec">@item.Specification.SpecName: @item.SpecValue</p>
                    }
                    <a href="#" class="product-scroll-to-full-spec"><span class="material-icons">expand_more</span> Przewiń do pełnej specyfikacji</a>
                </div>
                <div class="product-detail-info-extend">
                    <h3>@Model.Price zł</h3>
                    <div class="product-detail-add-to-cart">
                        <input type="number" min="1" max="2" value="1" />
                        <a href="@Url.Action("AddToCart", "Cart", new { id = Model.Id })" @if (Model.Warehouse.Quantity == 0) { <text> class="disabledAddToCartBttn" </text> }>Dodaj do koszyka</a>
                    </div>
                    <div class="product-detail-info-extend-quantity-details">
                        @if (Model.Warehouse.Quantity == 0)
                        {
                            <span class="material-icons-outlined iconResize productOutOfStockText">
                                cancel
                            </span>
                            <div class="product-detail-info-extend-quantity-details-text">
                                <p class="productOutOfStockText">Brak w magazynie</p>
                            </div>
                        }
                        else if (Model.Warehouse.Quantity < 7)
                        {
                            <span class="material-icons-outlined iconResize productLastPiecesText">
                                check_circle
                            </span>
                            <div class="product-detail-info-extend-quantity-details-text">
                                <p class="productLastPiecesText">Ostatnie sztuki</p>
                            </div>
                        }
                        else if (Model.Warehouse.Quantity >= 7)
                        {
                            <span class="material-icons-outlined iconResize productAvailabilityText">
                                check_circle
                            </span>
                            <div class="product-detail-info-extend-quantity-details-text">
                                <p class="productAvailabilityText">Dostępny</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail-photo">
            <div class="product-detail-main-photo">
                <img src="@Model.ProductsGalleries.FirstOrDefault().PhotoUrl" />
            </div>
            <div class="product-detail-photos-container">
                @foreach (var productDetailPhotos in Model.ProductsGalleries)
                {
                    <div class="product-detail-photos">
                        <div class="product-detail--photo">
                            <img src="@productDetailPhotos.PhotoUrl" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @*<nav class="product-sticky-nav">
            <div class="product-sticky-nav-col">
                <ul>
                    <li><a href="#">Opis</a></li>
                    <li><a href="#">Specyfikacja</a></li>
                    <li><a href="#">Akcesoria</a></li>
                    <li><a href="#">Opinie</a></li>
                </ul>
            </div>
            <div class="product-sticky-nav-col">
                <img src="@Model.ProductGallery.FirstOrDefault().PhotoUrl" />
                <p>@Model.Product.Price zł</p>
                <a href="#"><i class="icon-basket"></i> Dodaj do koszyka</a>
            </div>
        </nav>*@
    <div class="product-information--container">
        <div class="break-line">
            <h1>Opis</h1>
        </div>
        <div class="product-description">
            @Html.Raw(Model.Description)
        </div>
    </div>
    <div class="product-information--container">
        <div class="break-line">
            <h1>Specyfikacja</h1>
        </div>

        <table class="product-full-spec-table">
            @foreach (var specs in Model.ProductsSpecValues)
            {
                <tr>
                    <td>@specs.Specification.SpecName</td>
                    <td>@specs.SpecValue</td>
                </tr>
            }
        </table>
    </div>
    @*<div class="product-information--container">
            <div class="break-line">
                <h1>Akcesoria</h1>
            </div>
            <p class="big-plus fl-center">+</p>
            <div class="fl-row fl-center">
                <div class="product-accesories-container" style="cursor: pointer;">
                    <div class="product-photo">
                        <img src="~/img/myszka-1.jpg" />
                    </div>
                    <p class="product-name">Logitech M185 szara</p>
                    <p class="product-model">910-002238</p>
                    <div class="product-container-bottom">
                        <p class="product-price">59,00 zł</p>
                        <a href="#"><i class="icon-basket"></i></a>
                    </div>
                </div>
                <div class="product-accesories-container" style="cursor: pointer;">
                    <div class="product-photo">
                        <img src="~/img/sluchawki-1.jpg" />
                    </div>
                    <p class="product-name">Plantronics GO 810 Navy Blue</p>
                    <p class="product-model">598563</p>
                    <div class="product-container-bottom">
                        <p class="product-price">799,00 zł</p>
                        <a href="#"><i class="icon-basket"></i></a>
                    </div>
                </div>
                <div class="product-accesories-container" style="cursor: pointer;">
                    <div class="product-photo">
                        <img src="~/img/torba-1.jpg" />
                    </div>
                    <p class="product-name">Targus CitySmart Professional 14"-15.6"</p>
                    <p class="product-model">TBT915EU</p>
                    <div class="product-container-bottom">
                        <p class="product-price">159,00 zł</p>
                        <a href="#"><i class="icon-basket"></i></a>
                    </div>
                </div>
            </div>
        </div>*@
    @*<div class="product-information--container">
            <div class="break-line">
                <h1>Opinie o produkcie</h1>
            </div>
            <div class="product-opinion-container">
                <div class="product-opinion-container-box">
                    <h1>5,5/6</h1>
                    <div class="product-opinion-stars"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half-alt"></i></div>
                    <p class="product-opinion-amount">(5 opinii)</p>
                </div>
                <div class="product-opinion-container-box">
                    <div class="product-opinion-star-grade">
                        <a href="#">
                            <p class="product-opinion-star-grade-text">6 <i class="icon-star"></i></p>
                            <div class="product-opinion-star-rating"></div>
                            <p class="product-opinion-star-grade-text">2</p>
                        </a>
                    </div>
                    <div class="product-opinion-star-grade">
                        <a href="#">
                            <p class="product-opinion-star-grade-text">5 <i class="icon-star"></i></p>
                            <div class="product-opinion-star-rating"></div>
                            <p class="product-opinion-star-grade-text">0</p>
                        </a>
                    </div>
                    <div class="product-opinion-star-grade">
                        <a href="#">
                            <p class="product-opinion-star-grade-text">4 <i class="icon-star"></i></p>
                            <div class="product-opinion-star-rating"></div>
                            <p class="product-opinion-star-grade-text">0</p>
                        </a>
                    </div>
                    <div class="product-opinion-star-grade">
                        <a href="#">
                            <p class="product-opinion-star-grade-text">3 <i class="icon-star"></i></p>
                            <div class="product-opinion-star-rating"></div>
                            <p class="product-opinion-star-grade-text">5</p>
                        </a>
                    </div>
                    <div class="product-opinion-star-grade">
                        <a href="#">
                            <p class="product-opinion-star-grade-text">2 <i class="icon-star"></i></p>
                            <div class="product-opinion-star-rating"></div>
                            <p class="product-opinion-star-grade-text">0</p>
                        </a>
                    </div>
                    <div class="product-opinion-star-grade">
                        <a href="#">
                            <p class="product-opinion-star-grade-text">1 <i class="icon-star"></i></p>
                            <div class="product-opinion-star-rating"></div>
                            <p class="product-opinion-star-grade-text">0</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-opinion-container">
                <div class="product-opinion-h3-user">
                    <h3>Opinie użytkowników</h3>
                    <p class="product-opinion-h3-user-text">o Laptop super duper</p>
                </div>
            </div>
            <div class="product-opinion-container">
                <div class="product-opinion-user">
                    <div class="product-opinion-user-sort-select-add-opinion">
                        <h3>Sortuj</h3>
                    </div>
                    <div class="product-opinion-user-sort-select-add-opinion">
                        <select>
                            <option>Rosnaco</option>
                            <option>Malejaco</option>
                        </select>
                    </div>
                    <div class="product-opinion-user-sort-select-add-opinion">
                        <a href="#">Dodaj opinię</a>
                    </div>
                </div>
            </div>
             [ OPINIE UZYTKOWNIKOW ]
            <div class="product-opinion-container-user-opinion">
                <div class="product-opinion-user-name">
                    <div class="user-star-grade"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                    <div class="user-avatar"><img src="~/img/prod-3.jpg" /></div>
                    <p class="user-name">Anton</p>
                    <p class="user-name-opinion-date">26 maja 2019</p>
                </div>
                <div class="product-opinion-user-opinion">
                    <h2>Super jest ten laptop</h2>
                    <p class="product-opinion-user-full-opinion">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta malesuada euismod. Quisque vehicula odio arcu, a tincidunt risus mollis quis. Sed aliquam tortor volutpat erat consequat semper.
                    </p>
                    <div class="product-opinion-is-helpful">
                        <p class="product-opinion-is-helpful-question">Czy ta opinia była pomocna?</p>
                        <span class="product-opinion-is-helpful-hand">
                            <a href="#"><i class="icon-thumbs-up-alt"></i></a>
                            (5)
                        </span>
                        <span class="product-opinion-is-helpful-hand">
                            <a href="#"><i class="icon-thumbs-down-alt"></i></a>
                            (10)
                        </span>
                    </div>
                </div>
            </div>
             [ KONIEC OPINII]
        </div>*@

</div>