﻿@model DotNetShop.Models.StoreViewModel
@{
    ViewData["Title"] = "SearchResult";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@*<partial name="_ProductFilters" />*@

<div class="product-list searchResultCorrection">
    <h1 class="searchResultH1">Wyniki wyszukiwania dla "@Model.QueryTerm"</h1>
    <div class="product-container-inline">
        @foreach (var searchProduct in Model.Products)
        {
            <div onclick="window.location='@Url.Action("Details", "Store", new { id = searchProduct.Id })'" class="product-container" style="cursor: pointer;">
                <div class="product-photo">
                    <img src="@searchProduct.ProductsGalleries.FirstOrDefault(x => x.ProductId == searchProduct.Id).PhotoUrl" />
                </div>
                <p class="product-name">@searchProduct.Name</p>
                <p class="product-model">@searchProduct.Model</p>
                <div class="product-types">
                    @foreach (var item in Model.Products.Where(x => x.Id == searchProduct.Id).FirstOrDefault().ProductsSpecValues.Take(4))
                    {
                        <div class="product-type-inline"><p class="product-type-specname">@item.Specification.SpecName:</p><p class="product-type-specvalue">@item.SpecValue</p></div>
                    }
                </div>
                <div class="product-container-bottom">
                    <p class="product-price">@searchProduct.Price</p>
                    <a href="@Url.Action("AddToCart","Cart", new { id = searchProduct.Id })" class="productAddToCart"><span class="material-icons productAddToCartIcon">shopping_cart</span></a>
                </div>
            </div>
        }
    </div>
</div>
