﻿@using Microsoft.AspNetCore.Identity
@using DotNetShop.DAL.Model
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a href="@Url.Action("UserSettings","Manage")">
        <div class="userPanelAvatar">
            <img src="~/img/DefaultAvatar.png" alt="useravatar" class="userPanelMiniAvatarImg" />
        </div>
        <p class="user-panel-text-under-icons">@User.Identity.Name</p>
    </a>
    <ul>
        <li>
            <div class="userPanelAvatar">
                <img src="~/img/DefaultAvatar.png" alt="useravatar" class="userPanelAvatarImg" />
            </div>
            <p class="userPanelName">Witaj, @(User.Claims.FirstOrDefault(x => x.Type.Equals("FirstName")).Value) @(User.Claims.FirstOrDefault(x => x.Type.Equals("LastName")).Value) </p>
        </li>
        <li>
            @using (Html.BeginForm("Logout", "Account"))
            {
                <button type="submit" class="user-panel-button">Wyloguj się</button>
            }
        </li>
        <li class="userPanelListUserOption"><a href="@Url.Action("UserSettings","Manage")" class="userPanelBoxUserOption"><span class="material-icons iconMargin">person</span>Twoje konto</a></li>
        <li class="userPanelListUserOption"><a href="@Url.Action("UserOrders","Manage")" class="userPanelBoxUserOption"><span class="material-icons iconMargin">assignment</span> Zamówienia</a></li>
        @if (User.IsInRole("Admin"))
        {
            <li class="userPanelListUserOption"><a href="@Url.Action("UserOrders","Manage")" class="userPanelBoxUserOption"><span class="material-icons iconMargin">admin_panel_settings</span>Panel Administracyjny</a></li>
        }
    </ul>
}
else
{
    <a href="@Url.Action("UserSettings","Manage")">
        <span class="material-icons-outlined iconFontResize">person</span>
        <p class="user-panel-text-under-icons">Twoje Konto</p>
    </a>
    <ul>
        <li>
            <a href="@Url.Action("Login", "Account")" class="user-panel-button">Zaloguj się</a>
        </li>
        <li>
            <p class="user-panel-text-under-icons">Nie masz jeszcze konta?</p>
            <div class="search-bar-line"></div>
        </li>
        <li>
            <a href="@Url.Action("Register", "Account")" class="user-panel-button">Zarejestruj się</a>
        </li>
    </ul>
}