﻿@model IEnumerable<DotNetShop.DAL.Model.Category>
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<partial name="_slideMessage" />
<div class="userPanelContainer">
    <partial name="_AdminPanelMenu" />
    <div class="userPanelSmallContainer">
        <div class="userPanelSwitchBox pASwitchBox" id="pAProducts">
            <h1 class="userPanelAccountSettingsH1">Dodaj kategorie</h1>
            <div class="pABox pABoxColumn">
                <div class="checkoutInputInline">
                    <label class="checkoutInputLabel">Nazwa kategorii:</label>
                    <input type="text" id="CategoryName" />
                </div>
                <div class="checkoutInputInline">
                    <label class="checkoutInputLabel">Nazwa ikony kategorii:</label>
                    <input type="text" id="CategoryIconName" />
                    <p class="pAAddCategoryMoreIcons">Nazwy ikon dostępne są <a href="https://fonts.google.com/icons" target="_blank">tutaj</a></p>
                </div>
                <div class="checkoutInputInline">
                    <label class="checkoutInputLabel">Typ kategorii:</label>
                    <label class="checkoutInputLabel">Nadrzędna<input type="radio" name="categoryType" id="radioCatAb" checked="checked" /></label>
                    <label class="checkoutInputLabel">Podrzędna<input type="radio" name="categoryType" id="radioCatUn" /></label>
                </div>
                <div class="checkoutInputInline underCategoryBox">
                    <div class="pARadioUnderCategory">
                        <label class="pAAddCategoryLabel">Lista dostępnych kategorii:</label>
                        <select id="categoryddl">
                            @foreach (var categories in Model.Where(x => x.ParentCategoryId == null))
                            {
                                <option style="font-weight: 600; color: #4B8BF4;" value="@categories.Id">@categories.Name</option>
                                @foreach (var subCategories in Model.Where(x => x.ParentCategoryId == categories.Id))
                                {
                                    <option value="@subCategories.Id">@subCategories.Name</option>
                                }
                                <option disabled></option>
                            }
                        </select>
                    </div>
                </div>
                <div class="checkoutInputInline bttnCenter">
                    <input type="submit" class="buttonSubmit" id="AddCategory" value="Dodaj kategorie" />
                    <input type="reset" class="buttonSubmit" value="Reset" />
                </div>
            </div>
        </div>
        <div class="userPanelSwitchBox pASwitchBox" id="pAProducts">
            <h1 class="userPanelAccountSettingsH1">Edytuj kategorie</h1>
            <div class="pABox pABoxColumn">
                <div class="checkoutInputInline">
                    <label class="checkoutInputLabel">Jaką kategorię chcesz edytować?</label>
                    <select id="categorytoeditddl">
                        @foreach (var categories in Model)
                        {
                            <option value="@categories.Id">@categories.Name</option>
                        }
                    </select>
                </div>
                <div class="checkoutInputInline">
                    <label class="checkoutInputLabel">Zmień nazwę kategorii:</label>
                    <input type="text" id="CategoryNameToEdit" />
                </div>
                <div class="checkoutInputInline">
                    <label class="checkoutInputLabel">Nazwa ikony kategorii:</label>
                    <input type="text" id="CategoryIconNameToEdit" />
                </div>
                <div class="checkoutInputInline">
                    <label class="checkoutInputLabel">Czy chcesz ukryć kategorie?</label>
                    <input type="checkbox" id="CategoryWantToHide" />
                </div>
                <div class="checkoutInputInline">
                    <label class="pAAddCategoryLabel">Przenieś do:</label>
                    <select id="categorytomoveddl">
                        <option value="0">Przenieś na samą górę</option>
                        @foreach (var categories in Model.Where(x => x.ParentCategoryId == null))
                        {
                            <option style="font-weight: 600; color: #4B8BF4;" value="@categories.Id">@categories.Name</option>
                            @foreach (var subCategories in Model.Where(x => x.ParentCategoryId == categories.Id))
                            {
                                <option value="@subCategories.Id">@subCategories.Name</option>
                            }
                            <option disabled></option>
                        }
                    </select>
                </div>
                <div class="checkoutInputInline bttnCenter">
                    <input type="submit" class="buttonSubmit" id="EditCategory" value="Edytuj" />
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBottom {
    <script>
        $('.pARadioUnderCategory').hide();
        $("input[id$='radioCatUn']").click(function () {
            $('.pARadioUnderCategory').show();
        });

        $("input[id$='radioCatAb']").click(function () {
            $('.pARadioUnderCategory').hide();
        });

        var parentCategoryId = 0;
        var category = 1;
        var categoryToMove = 0;
        var isWantToHide = false;
        var Category = {};

        $("#categoryddl").change(function () {
            parentCategoryId = $(this).children(":selected").attr("value");
        });
        $("#categorytoeditddl").change(function () {
            category = $(this).children(":selected").attr("value");
        });
        $("#categorytomoveddl").change(function () {
            categoryToMove = $(this).children(":selected").attr("value");
        });

        $("#AddCategory").click(function () {
            if ($('#radioCatAb').is(':checked')) {
                Category.Name = $('#CategoryName').val();
                Category.CategoryIconName = $('#CategoryIconName').val();
            }
            else if ($('#radioCatUn').is(':checked')) {
                Category.Name = $('#CategoryName').val();
                Category.CategoryIconName = $('#CategoryIconName').val();
                Category.ParentCategoryId = parseInt(parentCategoryId, 10);
            }
            $.post({
                async: false,
                type: 'POST',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '/Manage/AddCategory',
                data: JSON.stringify(Category)
            }).done(function (response) {
                if (response.Status === "success") {
                    alert(response.responseText);
                    window.location.href = window.location.href;
                }
                else {
                    alert(response.responseText);
                    location.reload();
                }
            });
        });
        $("#EditCategory").click(function () {
            if ($('#CategoryWantToHide').is(':checked')) {
                isWantToHide = true;
            }
            Category.Id = parseInt(category, 10);
            if (!$('#CategoryNameToEdit').val()) {
                Category.Name = null;
            }
            else { Category.Name = $('#CategoryNameToEdit').val(); }
            if (!$('#CategoryIconNameToEdit').val()) { Category.CategoryIconName = null; }
            else { Category.CategoryIconName = $('#CategoryIconNameToEdit').val(); }
            if (categoryToMove == 0) { Category.ParentCategoryId = 0; }
            else { Category.ParentCategoryId = parseInt(categoryToMove, 10); }
            //Category.IsHidden = isWantToHide;
            console.log(Category);
            $.post({
                async: false,
                type: 'POST',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '/Manage/EditCategory',
                data: JSON.stringify(Category)
            }).done(function (response) {
                if (response.Status === "success") {
                    alert(response.responseText);
                    window.location.href = window.location.href;
                }
                else {
                    alert(response.responseText);
                    location.reload();
                }
            });
        });
    </script>
}
