﻿@model AddManufacturerViewModel
@{
    ViewData["Title"] = "AddManufacturer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<partial name="_slideMessage" />
<div class="userPanelContainer">
    <partial name="_AdminPanelMenu" />
    <div class="userPanelSmallContainer">
        <div class="userPanelSwitchBox pASwitchBox">
            @if (TempData["ManufacturerMssg"] != null)
            {
                <p class="">@TempData["ManufacturerMssg"]</p>
            }
            <h1 class="userPanelAccountSettingsH1">Dodaj producentów</h1>
            <div class="pABox pABoxColumn">
                @using (Html.BeginForm("AddManufacturer", "Manage", FormMethod.Post, new { @class = "checkoutForm userDataFormResize", @enctype = "multipart/form-data" }))
                {
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.Manufacturer.Name, "Nazwa producenta: ", new { @class = "checkoutInputLabel" })
                        @Html.TextBoxFor(o => o.Manufacturer.Name)
                    </div>
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.ManufacturerLogo, "Logo producenta: ", new { @class = "checkoutInputLabel" })
                        <input asp-for="ManufacturerLogo" type="file" />
                    </div>
                    <div class="grid-bttn-container">
                        <button type="submit" class="buttonSubmit" id="AddManufacturer">Dodaj producenta</button>
                        <button type="reset" class="buttonSubmit" value="Reset">Reset</button>
                    </div>
                }
            </div>
        </div>
        <div class="userPanelSwitchBox pASwitchBox">
            <h1 class="userPanelAccountSettingsH1">Edytuj producentów</h1>
            <div class="pABox pABoxColumn">
                @using (Html.BeginForm("AddManufacturer", "Manage", FormMethod.Post, new { @class = "checkoutForm userDataFormResize", @enctype = "multipart/form-data" }))
                {
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.Manufacturer.Id, "Jakiego producenta chcesz zedytować?", new { @class = "checkoutInputLabel" })
                        @if(Model.ListOfManufacturers.Any())
                        {
                        @Html.DropDownListFor(o => o.Manufacturer.Id, new SelectList(Model.ListOfManufacturers, "Id", "Name", Model.ListOfManufacturers.First().Id))
                        }
                        else
                        {
                            <p class="">brak</p>
                        }
                    </div>
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.Manufacturer.Name, "Zmień nazwę producenta na:", new { @class = "checkoutInputLabel" })
                        @Html.TextBoxFor(o => o.Manufacturer.Name)
                    </div>
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.ManufacturerLogo, "Zmień logo producenta: ", new { @class = "checkoutInputLabel" })
                        <input asp-for="ManufacturerLogo" type="file" />
                    </div>
                    <div class="checkoutInputInline bttnCenter">
                        <button type="submit" class="buttonSubmit">Edytuj</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>