﻿@model IEnumerable<DotNetShop.DAL.Model.ProductsSpecification>
@{
    ViewData["Title"] = "AddProductSpecification";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<div class="userPanelContainer">
    <partial name="_AdminPanelMenu" />
    <div class="userPanelSmallContainer">
        <div class="userPanelSwitchBox pASwitchBox" id="pAProducts">
            <h1 class="userPanelAccountSettingsH1">Dodaj specyfikacje dla produktów</h1>
            <div class="pABox pABoxColumn">
                <div class="checkoutInputInline">
                    <p class="checkoutInputLabel">Lista dostępnych specyfikacji</p>
                    <select id="specificationddl">
                        @if (Model.Any())
                        {
                            @foreach (var spec in Model)
                            {
                                <option id="@spec.SpecName" value="@spec.Id">
                                    @spec.SpecName
                                </option>
                            }
                        }
                        else
                        {
                            <option>Brak</option>
                        }
                    </select>
                </div>
                <div class="checkoutInputInline">
                    <input type="button" class="buttonSubmit marginBttn" value="Usuń" id="RemoveSpecification" />
                </div>
                <div class="checkoutInputInline">
                    @Html.LabelFor(o => o.FirstOrDefault().SpecName, "Nazwa specyfikacji: ", new { @class = "checkoutInputLabel" })
                    <input type="text" name="NewSpec" id="txtNewSpec" />
                </div>
                <div class="checkoutInputInline" id="AddedSpecNames">
                    <p class="listOfSpecificationToAddText">Lista specyfikacji które zostaną dodane:</p>
                </div>
                <div class="grid-bttn-container">
                    <a class="addSpec buttonSubmit">Dodaj</a>
                    <a class="removeSpec buttonSubmit">Usuń z listy</a>
                    <input type="button" class="buttonSubmit" id="SaveSpecifications" value="Zapisz" />
                    <input type="reset" class="buttonSubmit" value="Reset" />
                </div>

            </div>
        </div>
    </div>
</div>
@section ScriptsBottom {
    <script>
        var specCounter = 0;
        var specificationId = 0;
        $(".addSpec").click(function () {
            var SpecNames = "<p class='newSpecAdded'>" + $("#txtNewSpec").val() + "</p>";
            $("#AddedSpecNames").last().append(SpecNames);
            specCounter++;
            if (specCounter > 0) {
                $(".listOfSpecificationToAddText").css("display", "block");
            }
            $("#txtNewSpec").val("");
        });
        $(".removeSpec").click(function () {
            $(".newSpecAdded").last().remove();
            specCounter--;
            if (specCounter == 0) {
                $(".listOfSpecificationToAddText").css("display", "none");;
            }
            if (specCounter < 0) {
                specCounter = 0;
            }
        });
        $("#SaveSpecifications").click(function () {
            if (specCounter == 0) return alert("Pola nie mogą być puste");
            var listOfNewSpecifications = new Array();
            var elements = document.getElementsByClassName("newSpecAdded");
            for (var i = 0; i < elements.length; i++) {
                var current = elements[i];
                if (current.children.length === 0 && current.textContent.replace(/ |\n/g, '') !== '') {
                    var ProductsSpecification = {};
                    ProductsSpecification.SpecName = current.textContent;
                    listOfNewSpecifications.push(ProductsSpecification);
                }
            }
            $.post({
                async: false,
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json',
                url: '/Manage/AddProductSpecification',
                data: JSON.stringify(listOfNewSpecifications)
            }).done(function (response) {
                if (response.Status === "success") {
                    alert(response.responseText);
                    window.location.href=window.location.href;
                }
                else {
                    alert(response.responseText);
                    location.reload();
                }
            });
        });
        $("#specificationddl").change(function () {
            specificationId = $(this).children(":selected").attr("value");
        });
        $("#RemoveSpecification").click(function () {
            $.post({
                async: false,
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json',
                url: '/Manage/RemoveProductSpecification',
                data: specificationId
            }).done(function (response) {
                if (response.Status === "success") {
                    alert(response.responseText);
                    location.reload();
                }
                else {
                    alert(response.responseText);
                    location.reload();
                }
            });
        });
    </script>
}