﻿@model AddProductViewModel
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
@*@section Summernote {
    <link href="~/css/summernote-lite.min.css" rel="stylesheet">
    <script src="~/js/summernote-lite.js"></script>
}*@
<partial name="_slideMessage" />
<div class="userPanelContainer">
    <partial name="_AdminPanelMenu" />
    <div class="userPanelSmallContainer">
        <div class="userPanelSwitchBox pASwitchBox">
            @if (Model.Product.Id > 0)
            {
                <h1 class="userPanelAccountSettingsH1">Edytuj produkt</h1>
            }
            else
            {
                <h1 class="userPanelAccountSettingsH1">Dodaj produkt</h1>
            }
            @if (TempData["AddProductMssg"] != null)
            {
                <p class="dataChanged">@TempData["AddProductMssg"]</p>
            }
            <div class="pABox pABoxColumn">
                @using (Html.BeginForm("AddProduct", "Manage", FormMethod.Post, new { @class = "checkoutForm userDataFormResize", @enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.Product.Id)
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.Product.Name, "Nazwa produktu: ", new { @class = "checkoutInputLabel" })
                        @Html.TextBoxFor(o => o.Product.Name)
                    </div>
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.Product.Model, "Model: ", new { @class = "checkoutInputLabel" })
                        @Html.TextBoxFor(o => o.Product.Model)
                    </div>
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.Product.Price, "Cena: ", new { @class = "checkoutInputLabel" })
                        @Html.TextBoxFor(o => o.Product.Price)
                    </div>
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.Product.ManufacturerId, "Producent: ", new { @class = "checkoutInputLabel" })
                        @Html.DropDownListFor(o => o.Product.ManufacturerId, new SelectList(Model.Manufacturers, "Id", "Name", Model.Manufacturers.First().Id))
                    </div>
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.Product.Warehouse.Quantity, "Ilość", new { @class = "checkoutInputLabel" })
                        @Html.TextBoxFor(o => o.Product.Warehouse.Quantity)
                    </div>
                    <div class="checkoutInputInline @if (Model.Product.Id > 0) { <text> hideElement </text> } ">
                        @Html.LabelFor(o => o.Product.ProductsGalleries, "Zdjęcia produktu", new { @class = "checkoutInputLabel" })
                        <input asp-for="ProductPhotosToUpload" type="file" multiple="multiple" />
                    </div>
                    @*@if (Model.Product.Id > 0)
                        {
                            <div class="checkoutInputInline">
                                <label class="checkoutInputLabel">Czy jest w promocji:</label>
                                <input type="checkbox" id="pAAddProductPromotionCheckbox" />
                            </div>
                            <div class="checkoutInputInline saleValueColumn">
                                <div class="pAPromotionValueBox">
                                    @Html.LabelFor(o => o.Product.SaleValue, "Wartość promocji", new { @class = "checkoutInputLabel" })
                                    @Html.TextBoxFor(o => o.Product.SaleValue)
                                </div>
                                <div class="pAPromotionValueBox">
                                    @Html.LabelFor(o => o.Product.SpecialOfferTime, "Czas promocji (w godzinach)", new { @class = "checkoutInputLabel" })
                                    @Html.TextBoxFor(o => o.Product.SpecialOfferTime)
                                </div>
                            </div>
                        }*@
                    <div class="checkoutInputInline">
                        @Html.LabelFor(o => o.Product.Category, "Kategoria:", new { @class = "checkoutInputLabel" })
                        <select asp-for="Product.CategoryId">
                            @foreach (var categories in Model.Categories.Where(x => x.ParentCategoryId == null))
                            {
                                <option style="font-weight: 600;" value="@categories.Id" disabled>@categories.Name</option>
                                @foreach (var subCategories in Model.Categories.Where(x => x.ParentCategoryId == categories.Id))
                                {
                                    @foreach (var childSubCategories in Model.Categories.Where(x => x.ParentCategoryId == subCategories.Id).DefaultIfEmpty(null))
                                    {
                                        @if (childSubCategories != null)
                                        {
                                            <option value="@subCategories.Id" disabled>-@subCategories.Name</option>
                                            <option value="@childSubCategories.Id">--@childSubCategories.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@subCategories.Id">-@subCategories.Name</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="checkoutInputInline">
                        <h3>Specyfikacja produktu:</h3>
                    </div>
                    @for (int i = 0; i < Model.ProductsSpecifications.Take(10).Count(); i++)
                    {
                        <div class="checkoutInputInline">
                            @Html.DropDownListFor(o => o.ProductSpecValues[i].SpecificationId, new SelectList(Model.ProductsSpecifications, "Id", "SpecName", Model.ProductsSpecifications.FirstOrDefault().SpecName), new { @class = "checkoutInputLabel" })
                            @Html.TextBoxFor(o => o.ProductSpecValues[i].SpecValue)
                        </div>
                    }
                    <div class="checkoutInputInline textAreaResize">
                        @Html.LabelFor(o => o.Product.Description, "Opis produktu: ", new { @class = "checkoutInputLabel textAreaLabel" })
                        @Html.TextAreaFor(o => o.Product.Description, new { @id = "summernote", @class = "paAddProductDescriptionTextArea" })
                    </div>
                    <div class="checkoutInputInline">
                        @if (Model.Product.Id > 0)
                        {
                            @Html.HiddenFor(o => o.Product.ProductUniqueId)
                            @Html.HiddenFor(o => o.Product.ProductTimeCreated)
                            <button type="submit" class="buttonSubmit">Zapisz zmiany</button>
                            @if (Model.Product.IsHidden)
                            {
                                <button type="submit" form="UnhideProductForm" class="buttonSubmit">Przywróć</button>
                            }
                            else
                            {
                                <button type="button" class="buttonSubmit" id="HideProductButton">Ukryj</button>
                            }
                        }
                        else
                        {
                            <button type="submit" class="buttonSubmit" id="AddProduct">Dodaj produkt</button>
                        }
                        <button type="reset" class="buttonSubmit">Reset</button>
                    </div>
                }
                @if (Model.Product.Id > 0)
                {

                    @using (Html.BeginForm("UnhideProduct", "Manage", FormMethod.Post, new { id = "UnhideProductForm" }))
                    {
                        @Html.AntiForgeryToken();
                        @Html.Hidden("productId", Model.Product.Id)
                    }
                }
                else
                {
                    <a href="@Url.Action("HiddenProducts", "Manage")" class="showHiddenProductListA">Pokaż listę ukrytych produktów</a>
                }
                <div class="hideProductContainer">
                    <div class="hideProductSmallContainer">
                        <button type="button" id="HideProductExitButton">X</button>
                        @using (Html.BeginForm("HideProduct", "Manage", FormMethod.Post, new { @class = "checkoutForm userDataFormResize" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(o => Model.Product.Id)
                            <div class="checkoutInputInline">

                                @Html.LabelFor(o => o.HideProduct.HideReason, "Powód ukrycia:", new { @class = "checkoutInputLabel" })
                                @Html.TextBoxFor(o => o.HideProduct.HideReason)
                            </div>
                            <button type="submit" class="buttonSubmit">Ukryj</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBottom {
    <script>
        $('#HideProductButton').click(function () {
            $('.hideProductContainer').css("display", "flex");
        });
        $('#HideProductExitButton').click(function () {
            $('.hideProductContainer').css("display", "none");
        });
        $('#summernote').summernote({
            placeholder: 'Tutaj wpisz opis do produktu',
            tabsize: 2,
            height: 120,
            toolbar: [
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['view', ['codeview']]
            ]
        });

    </script>
}