﻿@model IEnumerable<DotNetShop.DAL.Model.Product>
@{
    ViewData["Title"] = "HideProducts";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="userPanelContainer">
    <partial name="_AdminPanelMenu" />
    <div class="userPanelSmallContainer">
        <div class="userPanelSwitchBox">
            <h1 class="userPanelAccountSettingsH1">Ukryte produkty</h1>
            @if (Model.Any())
            {
                <div class="userPanelOrdersOverflow quickBasketScrollbar" id="userPanelThreeDotsHeader">
                    @foreach (var hiddenProduct in Model)
                    {
                        <div class="userPanelOrderItemBox hideBoxResize">
                            <img class="hideProductImg" src="@hiddenProduct.ProductsGalleries.FirstOrDefault().PhotoUrl" />
                            <h3 class="userPanelOrderStatusText hideMarginText">@hiddenProduct.Name</h3>
                            <div class="hideBoxColumn">
                                <p class="userPanelOrderStatusDateNumber">Id produktu</p>
                                <p class="userPanelOrderStatusDateNumber">@hiddenProduct.Id</p>
                            </div>
                            <div class="hideBoxColumn">
                                <p class="userPanelOrderStatusDateNumber">Data ukrycia</p>
                                <p class="userPanelOrderStatusDateNumber">@hiddenProduct.HiddenProduct.LastOrDefault().ProductHideDate</p>
                            </div>
                            <div class="userPanelOrderItemSmallBox hideSmallBoxResize">
                                <div class="hideBoxColumn">
                                    <p class="userPanelOrderStatusText">Powód ukrycia</p>
                                    <p class="userPanelOrderStatusText">@hiddenProduct.HiddenProduct.LastOrDefault().HideReason</p>
                                </div>
                                @using (Html.BeginForm("AddProduct", "Manage", FormMethod.Get))
                                {
                                    @Html.AntiForgeryToken();
                                        @Html.Hidden("productId", hiddenProduct.Id)
                                    <button type="submit" class="buttonSubmit">Edytuj</button>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="userPanelOrdersOverflow overflowHidden">
                    <div class="userPanelOrderItemBox">
                        <h3 class="userPanelOrderStatusText" style="text-align: center;">Brak ukrytych produktów</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

