﻿@model IEnumerable<DotNetShop.DAL.Model.Order>
@{
    ViewData["Title"] = "UserPanel";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="userPanelContainer">
    @if (User.IsInRole("Admin"))
    {
        <partial name="_AdminPanelMenu" />
    }
    else
    {
        <partial name="_UserPanelMenu" />
    }
    <div class="userPanelSmallContainer">
        <div class="userPanelSwitchBox resizeOverflow">
            <h1 class="userPanelAccountSettingsH1">Zamówienia</h1>
            @if (Model.Any())
            {
                <div class="userPanelOrdersOverflow quickBasketScrollbar resizeOverflow" id="userPanelThreeDotsHeader">
                    @foreach (var userOrders in Model)
                    {
                        <div class="userPanelOrderItemBox">
                            <div class="userPanelOrderItemSmallBox @if (userOrders.OrderStatus == DotNetShop.DAL.Model.OrderStatus.New) { <text> orderNew </text> } else if (userOrders.OrderStatus == DotNetShop.DAL.Model.OrderStatus.Finished) { <text> orderFinished </text> } else if(userOrders.OrderStatus == DotNetShop.DAL.Model.OrderStatus.Canceled) { <text> orderCanceled </text>} " onclick="window.location='@Url.Action("OrderSummary", "Cart", new { orderId = userOrders.Id })'">
                                <h3 class="userPanelOrderStatusText @if (userOrders.OrderStatus == DotNetShop.DAL.Model.OrderStatus.New) { <text> orderNew </text> }">@Html.DisplayFor(x => userOrders.OrderStatus)</h3>
                                @if (userOrders.DateFinished == null)
                                {
                                    <p class="userPanelOrderStatusDateNumber">@userOrders.DatePurchased</p>
                                }
                                else
                                {
                                    <p class="userPanelOrderStatusDateNumber">@userOrders.DateFinished</p>
                                }
                                <p class="userPanelOrderStatusDateNumber">nr @userOrders.Id</p>
                                <p class="userPanelOrderPrice">@userOrders.TotalPrice zł</p>
                            </div>
                            <div class="userPanelOrderItemSmallBox">
                                <a href="@Url.Action("OrderSummary","Cart", new { orderId = userOrders.Id})" class="userPanelOrderStatusText">Pokaż szczegóły zamówienia</a>
                                @*<div class="userPanelOrderMore threeDotsInvoiceBox" onclick="showInvoiceBox()">
                                    <span class="material-icons">more_vert</span>
                                    <ul id="userPanelInvoiceBox">
                                        <li>
                                            <a href="#" class="userPanelOrderMoreInvoice">
                                                <span class="material-icons iconMargin">article</span>
                                                Faktura VAT
                                            </a>
                                        </li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="userPanelOrdersOverflow overflowHidden">
                    <div class="userPanelOrderItemBox">
                        <h3 class="userPanelOrderStatusText" style="text-align: center;">Brak zamówień</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

