﻿@model UserSettingsViewModel
@{
    ViewData["Title"] = "UserSettings";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<partial name="_slideMessage" />
<div class="userPanelContainer">
    <partial name="_UserPanelMenu" />
    <div class="userPanelSmallContainer">
        <div class="userPanelSwitchBox">
            <h1 class="userPanelAccountSettingsH1">Ustawienia konta</h1>
            @using (Html.BeginForm("UserSettings", "Manage", FormMethod.Post, new { @class = "checkoutForm userDataFormResize" }))
            {
                <div class="checkoutContainer checkoutContainerOrderResize">
                    <div class="indexPageBigHeaderSmallContainer checkoutSmallContainer checkoutSmallContainerOrderResize">
                        @Html.AntiForgeryToken()

                        <h3 class="h3Checkout">Dane osobowe</h3>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => o.UserSetting.FirstName, "Imię: ", new { @class = "checkoutInputLabel" })
                            @Html.TextBoxFor(o => o.UserSetting.FirstName)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => o.UserSetting.LastName, "Nazwisko: ", new { @class = "checkoutInputLabel" })
                            @Html.TextBoxFor(o => o.UserSetting.LastName)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => o.UserSetting.UserData.Address, "Adres: ", new { @class = "checkoutInputLabel" })
                            @Html.TextBoxFor(o => o.UserSetting.UserData.Address)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => o.UserSetting.UserData.ZipCode, "Kod pocztowy: ", new { @class = "checkoutInputLabel" })
                            @Html.TextBoxFor(o => o.UserSetting.UserData.ZipCode)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => o.UserSetting.UserData.City, "Miasto: ", new { @class = "checkoutInputLabel" })
                            @Html.TextBoxFor(o => o.UserSetting.UserData.City)
                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => o.UserSetting.PhoneNumber, "Numer kontaktowy: ", new { @class = "checkoutInputLabel" })
                            @Html.TextBoxFor(o => o.UserSetting.PhoneNumber)
                        </div>
                        <div class="checkoutInputInline emailField">
                            @Html.LabelFor(o => o.UserSetting.Email, "E-mail: ", new { @class = "checkoutInputLabel" })
                            @Html.TextBoxFor(o => o.UserSetting.Email)
                            <div class="changeEmailInfo">
                                <p class="changeEmailInfoText">W celu zmiany adresu email, skontaktuj sie z administracją.</p>
                            </div>
                        </div>
                    </div>
                </div>

                @Html.ValidationMessageFor(o => o.UserSetting.FirstName)
                @Html.ValidationMessageFor(o => o.UserSetting.LastName)
                @Html.ValidationMessageFor(o => o.UserSetting.UserData.Address)
                @Html.ValidationMessageFor(o => o.UserSetting.UserData.ZipCode)
                @Html.ValidationMessageFor(o => o.UserSetting.UserData.City)
                @Html.ValidationMessageFor(o => o.UserSetting.PhoneNumber)
                @Html.ValidationMessageFor(o => o.UserSetting.Email)
                @if (TempData["UserDataSuccessChanged"] != null)
                {
                    <p class="dataChanged">@TempData["UserDataSuccessChanged"]</p>
                }
                <button class="buttonSubmit">Zatwierdź zmiany</button>
            }
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "checkoutForm userDataFormResize" }))
            {
                <div class="checkoutContainer checkoutContainerOrderResize">
                    <div class="indexPageBigHeaderSmallContainer checkoutSmallContainer checkoutSmallContainerOrderResize">
                        @Html.AntiForgeryToken()

                        <h3 class="h3Checkout">Zmień hasło</h3>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => o.UserChangePassword.OldPassword, "Stare hasło: ", new { @class = "checkoutInputLabel" })
                            @Html.PasswordFor(o => o.UserChangePassword.OldPassword, new { @class = "userDataPasswordField" })

                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => o.UserChangePassword.NewPassword, "Nowe hasło: ", new { @class = "checkoutInputLabel" })
                            @Html.PasswordFor(o => o.UserChangePassword.NewPassword, new { @class = "userDataPasswordField" })

                        </div>
                        <div class="checkoutInputInline">
                            @Html.LabelFor(o => o.UserChangePassword.ConfirmNewPassword, "Potwierdź nowe hasło: ", new { @class = "checkoutInputLabel" })
                            @Html.PasswordFor(o => o.UserChangePassword.ConfirmNewPassword, new { @class = "userDataPasswordField" })
                        </div>
                    </div>
                </div>
                @if (TempData["PasswordSuccessChanged"] != null)
                {
                    <p class="dataChanged">@TempData["PasswordSuccessChanged"]</p>

                }
                else if (TempData["PasswordFailedChanged"] != null)
                {
                    <p class="dataFailedChanged ">@TempData["PasswordFailedChanged"]</p>
                }

                @Html.ValidationMessageFor(o => o.UserChangePassword.OldPassword)
                @Html.ValidationMessageFor(o => o.UserChangePassword.NewPassword)
                @Html.ValidationMessageFor(o => o.UserChangePassword.ConfirmNewPassword)

                <button class="buttonSubmit">Zmień hasło</button>
            }
        </div>
    </div>
</div>
