﻿@model int
@{
    ViewData["Title"] = "Default";
}

<a href="#" id="quickBasket">
    <span class="material-icons-outlined iconFontResize">shopping_cart</span>
    <p class="user-panel-text-under-icons">Koszyk</p>
    <div class="quickBasketCircle">
        <p class="quickBasketCircleCounter">@Model</p>
    </div>
</a>
